<div id="content-container">
  <div id="content-header" class="titlebar">
    <h1 class="titlebar-title">{{mode}} Virtue Template: {{item.name}}</h1>
    <!-- <button (click)="toggleItemStatus()" class="titlebar-button">
    {{ item.enabled ? 'Disable Virtue' : 'Enable Virtue' }}</button> -->
  </div>
  <div id="content-main">
      <div id="content" class="border-top">
        <mat-tab-group dynamicHeight=true>

          <!-- ********************* -->
          <div *ngFor="let tab of tabs">
            <mat-tab label="General Info">
              <app-tab></app-tab>
            </mat-tab>
          </div>
          <mat-tab label="General Info">
            <br>
            <div class="mui-row form-item margin-top-15">
              <div class="mui-col-md-12">
                Name: <input type="text" [(ngModel)]="item.name" aria-label="Name" placeholder="{{itemName}} Name" matInput />
                <br/>
                <span *ngIf="mode!=='Create'" style="clear: both;color: #aaa; font-size:10px;margin-top:5px;">ID: {{ item.id }}</span>
              </div>
            </div>
            <div class="mui-row form-item margin-top-15">
              <div class="mui-col-md-1">
                <label>Status: </label>
              </div>
              <div class="mui-col-md-2">
                <mat-slide-toggle [(ngModel)]="item.enabled" [color]="'primary'" >{{ item.enabled ? 'Enabled' : 'Disabled' }}</mat-slide-toggle>
              </div>
            </div>
            <div class="mui-row form-item margin-top-15">
              <div class="mui-col-md-1">
                <label>Version: </label>
              </div>
              <div class="mui-col-md-2">
                {{item.version}}
              </div>
            </div>
            <div class="mui-row titlebar">
              <div class="mui-col-md-12">
                <h2 class="titlebar-title">Virtual Machines</h2>
                <button mat-button class="titlebar-button" (click)="activateModal(item.id)">Add VM</button>
              </div>
            </div>

            <app-item-table #childrenTable></app-item-table>
          </mat-tab>

          <!-- ********************* -->
          <mat-tab label="Virtue Settings">
            <div id="settings" class="virtue-settings">
              <div class="virtue-titlebar">
                <h3> Virtue Settings</h3>
              </div>
              <app-virtue-settings #settingsPane></app-virtue-settings>
            </div>
          </mat-tab>

          <!-- ********************* -->
          <mat-tab label="Info about where it's used">

          <h2>Users granted access to this virtue template:</h2>
          <div class="mui-row">
            <app-item-table #parentTable></app-item-table>
          </div>

          <h2>Running Virtue instances built from this template:</h2>
          <div class="mui-row">
            <p>user: Alice,________version: 4,________running vms: browser-vm,office-vm_____running apps: Firefox, Word</p>
            <p>user: Dan,__________version: 2,________running vms: linux-office-vm,_________running apps: Calc, Minesweeper</p>
          </div>
          <!-- <app-item-table #instanceTable></app-item-table> -->

          </mat-tab>

        </mat-tab-group>
        <!-- <vertical-split-pane
          primary-component-minsize="60"
          secondary-component-minsize="40"
          [primary-component-toggled-off]="false"
          local-storage-key="split-pane"
          primary-component-initialratio="0.8">

          <div class="split-pane-content-primary"> -->

            <!-- <div class="mui-row form-item margin-top-15">
              <div class="mui-col-md-12">
                <input type="text" [(ngModel)]="item.name" aria-label="Virtue Name" placeholder="Virtue Name" matInput />
                <br/>
                <span *ngIf="mode!=='Create'" style="clear: both;color: #aaa; font-size:10px;margin-top:5px;">ID: {{ item.id }}</span>
              </div>
            </div>
            <div class="mui-row form-item margin-top-15">
              <div class="mui-col-md-1">
                <label>Status: </label>
              </div>
              <div class="mui-col-md-2">
                <mat-slide-toggle [(ngModel)]="item.enabled" [color]="'primary'" >{{ item.enabled ? 'Enabled' : 'Disabled' }}</mat-slide-toggle>
              </div>
            </div>
            <div class="mui-row form-item margin-top-15">
              <div class="mui-col-md-1">
                <label>Version: </label>
              </div>
              <div class="mui-col-md-2">
                <input type="text" [(ngModel)]="item.version" placeholder="1" matInput />
              </div>
            </div>
            <div class="mui-row titlebar">
              <div class="mui-col-md-12">
                <h2 class="titlebar-title">Virtual Machines</h2>
                <button mat-button class="titlebar-button" (click)="activateModal(item.id)">Add VM</button>
              </div>
            </div>

            <app-item-table #table></app-item-table> -->

          <!-- </div>

          <div class="split-pane-content-secondary"> -->
            <!-- <div id="settings" class="virtue-settings">
              <div class="virtue-titlebar">
                <h3> Virtue Settings</h3>
              </div>
              <app-virtue-settings #settingsPane></app-virtue-settings>
            </div> -->
          <!-- </div>
        </vertical-split-pane> -->

        <div class="mui-row border-top">
          <div class="mui-col-md-4">&nbsp;</div>
          <div class="mui-col-md-4 form-item text-align-center">
            <button class="button-submit" type="submit" (click)="createOrUpdate()">Save</button>
            <button class="button-cancel" type="cancel" (click)="cancel()">Cancel</button>
          </div>
          <div class="mui-col-md-4"></div>
        </div>
      </div>
  </div>
</div>
