.virtue-titlebar {
  clear: both;
  display: block;
  padding-left: 2rem;
  padding-right: 2rem;
  min-height:1rem;
}
.virtue-titlebar:after {
  clear: both;
  content: ' ';
  display: block;
  height: 1px;
}
.virtue-titlebar .virtue-title {
  float: left;
  margin: 0;
}
.virtue-titlebar .virtue-button {
  background-color: #E9E3E6;
  border: 1px solid #B2B2B2;
  border-radius: 0;
  display: block;
  float: left;
  margin: 0.5rem 0 0 1.5rem;
  padding: 0.5rem 0.7rem;
}
#content {
  padding-right: 0;
}
.virtue-content .virtue-titlebar {
  padding-left: 0;
  padding-right: 0;
}
.virtue-form {
  margin-top: 1.5rem;
  padding: 1.5rem 0 1rem;
}
.virtue-form p {
  display: block;
  margin: 1rem 0;
}

.virtue-options {
  display: block;
  font-size: 1.1rem;
  clear: both;
}

[_nghost-c7] {
  background-color: #e9e3e6 !important;
  border-right: #ddd;
}
[_nghost-c7]:hover {
  background-color: #fafafa !important;
  border-right: #ddd;
}
.split-pane-content-primary {
  padding-right: 2rem;
}
.handle[_ngcontent-c7] {
  background: url(../../../assets/images/handle.png) no-repeat center center;
  background-color: #e9e3e6;
  border-left: 1px solid #b2b2b2;
  border-right: 1px solid #b2b2b2;
  height: 340px;
  cursor: col-resize;
  top:0;
  position:absolute;
}
.split-pane-content-secondary {
  min-height: 340px;
}
.virtue-settings {
  box-sizing: content-box;
}
.virtue-settings .virtue-titlebar {
  padding-left: 2rem;
}
app-virtue-settings {
  box-sizing:border-box;
  display: block;
}
app-virtue-settings:after {
  clear:both;
  content: ' ';
  height: 1px;
}
