<div id="content-container">
  <div id="content-header" class="virtue-titlebar">
    <h1 class="virtue-title">Edit Virtue</h1>
    <button class="virtue-button" disabled>Disable Virtue</button>
  </div>

  <div id="content-main" class="border-top">
    <form>
      <div id="content" class="virtue-content">
        <vertical-split-pane
          primary-component-minsize="70"
          secondary-component-minsize="30"
          [primary-component-toggled-off]="false"
          [secondary-component-toggled-off]="someCondition"
          local-storage-key="split-pane"
          primary-component-initialratio="0.8">

          <div class="split-pane-content-primary">
            <div class="form-item">
              <input type="text" id="virtue-name" value="" placeholder="Virtue Name" />
            </div>
            <div class="virtue-titlebar">
                  <h2 class="virtue-title">Virtual Machines</h2>
                  <button class="virtue-button" onclick="activateModal()">Add VM</button>
                </div>
            <!-- if there are no virtue, show this message -->
            <div class="table-container">
                  <div class="table-row">
                    <div class="table-cell border-top mui-col-md-12">
                      <p>No virtual machines have been added at this time. To add VM(s), click on the button "Add VM.</p>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
            <!-- if there are virtue machines, show this list -->
            <div class="table-container">
                  <div class="table-header-row">
                    <div class="table-header mui-col-md-5">Virtual Machine</div>
                    <div class="table-header mui-col-md-2">Image Size</div>
                    <div class="table-header mui-col-md-5">Applications</div>
                  </div>
                  <div class="table-row">
                    <div class="table-cell mui-col-md-5">
                      <a href="#">Virtual Machine</a>
                      <!-- if this virtue is enabled show this menu -->
                      <span class="active virtue-options">Edit | Disable</span>

                      <!-- if this virtue is disabled show this menu -->
                      <span class="active virtue-options">Edit | Remove</span>
                    </div>
                    <div class="table-cell mui-col-md-2"># mb</div>
                    <div class="table-cell mui-col-md-5">List of Apps</div>
                    <div class="clearfix"></div>
                  </div>
                </div>
            <div class="paging">
              <div class="page-number mui-col-md-4 padding-left-0">&nbsp;</div>
              <div class="page-controls mui-col-md-4">&nbsp;</div>
              <div class="page-item-total mui-col-md-4 padding-right-0"># Virtual Machine(s)</div>
              <div class="clearfix"></div>
            </div>
          </div>

          <div class="split-pane-content-secondary">
            <div id="settings" class="virtue-settings">
              <div class="virtue-titlebar">
                <h3> Virtue Settings</h3>
              </div>
              <app-virtue-settings></app-virtue-settings>
            </div>
          </div>
        </vertical-split-pane>
      </div>
    </form>
  </div>
</div>
