<div id="content-container">
  <div id="content-header" class="titlebar">
    <h1 class="titlebar-title">{{prettyTitle}}</h1>
    <button class="titlebar-button" routerLink="{{domain}}/create">Add {{itemName}}</button>
  </div>

  <div id="content-main">
    <div id="content">

      <div *ngIf="showSortingAndEditOptions" >

        <!-- if there are no items, show this message -->
        <div *ngIf="items.length < 1" class="mui-container-fluid">
          <div class="mui-row margin-top-10">
            <div class="mui-col-md-12 padding-left-0">
              <p class="no-data-message">
                {{noDataMessage}}
              </p>
            </div>
          </div>
        </div>

        <!-- if there are items, show this list -->
        <div *ngIf="items.length > 0" class="mui-container-fluid">
          <div class="mui-row">
            <!-- Note: angular mui table requires 12 column-widths of space.
            Changing below value doesn't appear to have an effect. -->
            <div class="mui-col-md-12 padding-left-0 filters">
              <span *ngIf="filterValue === '*'">All {{pluralItem}}</span>
              <a *ngIf="filterValue !== '*'"  (click)="filterList('*')">All {{pluralItem}}</a> |
              <span *ngIf="filterValue === 'enabled'">Enabled {{pluralItem}}</span>
              <a *ngIf="filterValue !== 'enabled'" (click)="filterList('enabled')">Enabled {{pluralItem}}</a> |
              <span *ngIf="filterValue === 'disabled'">Disabled {{pluralItem}}</span>
              <a *ngIf="filterValue !== 'disabled'" (click)="filterList('disabled')">Disabled {{pluralItem}}</a>
            </div>
          </div>
        </div>

      </div>


      <div class="mui-container-fluid data-list">
        <div class="mui-row table-header-group">
          <div *ngFor="let column of colData" class="table-header mui-col-md-{{column.colWidth}}">
            <div *ngIf="column.isList" >{{column.prettyName}}</div>
            <a *ngIf="!column.isList" (click)="setColumnSortDirection(column, sortBy)">{{column.prettyName}}</a>
            <span class="list-sorter" *ngIf="!column.isList" >
              <span *ngIf="sortColumn.name === column.name && sortBy === 'asc'" class="fa fa-sort-up"></span>
              <span *ngIf="sortColumn.name === column.name && sortBy === 'desc'" class="fa fa-sort-down"></span>
              <span class="fa fa-sort font-color-gray"></span>
            </span>
          </div>
        </div>

        <!-- That pipe character calls a PipeTransform object, ListFilterPipe.
        It is passed the preceeding list, followed by the values between colons -->
        <div class="mui-row table-row"
          *ngFor="let i of items | listFilter : sortColumn.name : 'status' : filterValue : sortDirection : (filterValue === '*')"
          [ngStyle]="{'background-color':i.enabled ? '#ffffff' : '#e7e7e7' }"
          appActiveClass>
          <div class="mini-menu">
            <a class="edit" routerLink="{{domain}}/edit/{{i.getID()}}">{{ i[colData[0].name] }}</a>
            <span *ngIf="showSortingAndEditOptions" class="menu-options">
              <a *ngIf="i.enabled === false" (click)="toggleItemStatus(i)">Enable</a>
              <a *ngIf="i.enabled === false"> | </a>
              <a *ngIf="i.enabled === true"  (click)="toggleItemStatus(i)">Disable</a>
              <a *ngIf="i.enabled === true"> | </a>
              <a class="edit" routerLink="{{domain}}/edit/{{i.getID()}}">Edit</a>
              <a> | </a>
              <a class="edit" routerLink="{{domain}}/duplicate/{{i.getID()}}">Duplicate</a>
              <a> | </a>
              <a (click)="openDialog('delete', i)">Delete</a>
            </span>
            <span *ngIf="!showSortingAndEditOptions" class="menu-options">
              <a (click)="openDialog('remove', i)">Remove</a>
            </span>
          </div>
          <!-- Iterate over all columns after the first one (the name), which was displayed above -->
          <div *ngFor="let column of colData | slice:1; let idx=index"
              class="table-data mui-col-md-{{column.colWidth}} transparent">
            <div *ngIf="column.isList">
              <ul>
                  <ul [innerHTML]="column.formatValue(i)"></ul>
              </ul>
            </div>
            <div *ngIf="!column.isList">
              {{ column.formatValue ? column.formatValue(i) : i[column.name] }}
            </div>
          </div>

          <div class="clearfix"></div>
        </div>
      </div>
      <div class="paging">
        <div class="page-number mui-col-md-4">Page # of #</div>
        <div class="page-controls mui-col-md-4">
          << First | < Previous | Next> | Last >></div>
        <div class="page-item-total mui-col-md-4">{{ items.length }} {{prettyTitle}}</div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
