/* add-user.component.css */
::ng-deep  .cdk-overlay-pane {
  position: absolute;
}
::ng-deep .mat-autocomplete-panel {
}
.virtue-color {
  background-color: #4B3F72;
  display: inline-block;
  height: 88px;
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
}
.table-data {
  position:relative;
}
.virtue-name {
  margin-left: 30px;
}
.virtue-options {
  display: hidden;
  font-family: 'Raleway-medium', Arial, sans-serif;
  font-size: 0.88rem;
  clear: both;
}
.virtue-message {
  display: block;
  border-top: 1px solid #b2b2b2;
  border-bottom: 1px solid #b2b2b2;
  margin-top: 20px;
}
.active {
  display: block;
}
