.DS_Store
*/.DS_Store
.gradle
.gitignore
**/*~
**/=2.3.1
**/=3.2.1
**/=5.4.0
**/=6.0.0-beta.0
**/.metadata/
modules/*/build
**/node_modules
**/.terraform
**/*.tfstate
**/*.tfstate.backup
/modules/ecosystem/directory-service/secrets.auto.tfvars
modules/ecosystem/directory-service/samba-config
/modules/ecosystem/directory-service/docker/samba-client/.image.date
/modules/ecosystem/directory-service/docker/samba-server/.image.date
samba-config-*
/modules/ecosystem/directory-service/docker/savior-firefox/id_rsa
/modules/ecosystem/directory-service/docker/savior-firefox/id_rsa.pub
/modules/ecosystem/directory-service/docker/savior-firefox/.image.date
**/src/assets/.sass-cache/*
modules/freerdp-java/.cache
/modules/freerdp-java/core
*.retry
/modules/ecosystem/cifs-proxy/src/terraform/.plan.out
/modules/ecosystem/cifs-proxy/CMakeCache.txt
CMakeFiles
/modules/ecosystem/cifs-proxy/cmake_install.cmake
/modules/ecosystem/cifs-proxy/makeccache
modules/ecosystem/cifs-proxy/Makefile
/modules/ecosystem/cifs-proxy/credstore
/modules/ecosystem/cifs-proxy/getserviceticket
/modules/ecosystem/cifs-proxy/gsscache
/modules/ecosystem/cifs-proxy/my_ccache
docker/server-images/virtue-admin/virtue-admin-0.0.1-SNAPSHOT.tar
docker/server-images/virtue-admin/virtue-admin-0.0.1-SNAPSHOT.war
docker/server-images/virtue-admin/virtue-admin-0.0.1-SNAPSHOT.zip
docker/server-images/workbench/admin.tar.gz
/modules/ecosystem/cifs-proxy/src/terraform/vrtu.pem
/modules/ecosystem/cifs-proxy/.classpath
/modules/ecosystem/cifs-proxy/.cproject
/modules/ecosystem/cifs-proxy/.project
modules/ecosystem/cifs-proxy/.settings
modules/ecosystem/cifs-proxy/build
/vrtu.pem
/modules/ecosystem/cifs-proxy/src/terraform/file_server.rdp
/modules/ecosystem/cifs-proxy/importcreds
/modules/ecosystem/cifs-proxy/jcredstore
yarn-error.log
/modules/admin/src/app/credentials
/modules/virtue-admin/src/main/resources/application-context.xml
docker/server-images/virtue-admin/virtue-admin-0.0.1-SNAPSHOT.tar
docker/server-images/virtue-admin/virtue-admin-0.0.1-SNAPSHOT.war
docker/server-images/virtue-admin/virtue-admin-0.0.1-SNAPSHOT.zip
docker/server-images/workbench/admin.tar.gz
*.dot
/modules/ecosystem/cifs-proxy/switchprincipal
modules/ecosystem/cifs-proxy/src/cpp/Makefile
modules/ecosystem/netplan/netplan.io-0.95
modules/ecosystem/netplan/netplan.io_0.95-2_amd64.*
/modules/ecosystem/netplan/.patch-applied
/modules/ecosystem/netplan/netplan.io-dbgsym_0.95-2_amd64.ddeb
/modules/ecosystem/netplan/netplan.io_0.95-2.debian.tar.xz
/modules/ecosystem/netplan/netplan.io_0.95-2.dsc
/modules/ecosystem/netplan/netplan.io_0.95.orig.tar.gz
**/Thumbs.db
**/Thumbs.db:encryptable
/modules/ecosystem/cifs-proxy/src/terraform/*.log
/modules/ecosystem/cifs-proxy/src/terraform/terraform.tfstate*.backup
/modules/ecosystem/cifs-proxy/src/terraform/test-remote-setup.sh
