.DS_Store
*/.DS_Store

.gradle
**/*~
modules/*/build
**/node_modules
**/.terraform
**/*.tfstate
**/*.tfstate.backup
/modules/ecosystem/directory-service/secrets.auto.tfvars
modules/ecosystem/directory-service/samba-config
