<form name="vm-list">
<h2 mat-dialog-title>Manage Virtual Machines</h2>
<div mat-dialog-content>
  <p>Select virtual machines to include in the virtue.</p>
  <div class="mui-container-fluid mui-col-md-12 table-container">
    <div class="mui-row table-header-group">
      <div class="mui-col-md-5 table-header">
        <span class="float-left">
          <mat-checkbox
            name="selectAll"
            (change)="selectAll($event.checked)"
            [disabled]="disabled" ></mat-checkbox>
        </span>
        <span class="float-left text-align-left">Virtual Machine</span>
      </div>
      <div class="mui-col-md-2 table-header">
        OS
      </div>
      <div class="mui-col-md-5 table-header">
        Applications
      </div>
    </div>
    <div class="scrolling-list">
      <div *ngFor="let vm of storedVmList" class="mui-row table-row">
        <div class="mui-col-md-5 table-data">
          <span class="float-left">
            <mat-checkbox
              name="cbVm"
              [checked]="vm.checked" 
              (change)="cbVmList($event.checked, vm.id)"
              value="{{vm.id}}" ></mat-checkbox>
          </span>
          <span class="float-left">{{ vm.name }}</span>
        </div>
        <div class="mui-col-md-2 table-data">
          {{ vm.os }}
        </div>
        <div class="mui-col-md-5 table-data">
          <ul>
            <li *ngFor="let app of vm.applications">{{ app.name }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button class="button" type="submit" (click)="onAddVms();">
  Add VMs
  </button>
  <button mat-button type="button" (click)="cancelModal();" mat-dialog-close>
    Cancel
  </button>
</div>
</form>
