/* FONT VARIABLES */
$raleway-font-path:        "../fonts/raleway";
/* Raleway font */
/* regular */
@font-face {
	font-family: 'Raleway';
  src: url('#{$raleway-font-path}/raleway-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$raleway-font-path}/raleway-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('#{$raleway-font-path}/raleway-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('#{$raleway-font-path}/raleway-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
/* light */
@font-face {
	font-family: 'Raleway300';
  src: url('#{$raleway-font-path}/raleway-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$raleway-font-path}/raleway-light.woff') format('woff'), /* Pretty Modern Browsers */
       url('#{$raleway-font-path}/raleway-light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('#{$raleway-font-path}/raleway-light.svg#svgFontName') format('svg'); /* Legacy iOS */
}
/* medium */
@font-face {
	font-family: 'Raleway500';
  src: url('#{$raleway-font-path}/raleway-medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$raleway-font-path}/raleway-medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('#{$raleway-font-path}/raleway-medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('#{$raleway-font-path}/raleway-medium.svg#svgFontName') format('svg'); /* Legacy iOS */
}
/* semibold */
@font-face {
	font-family: 'Raleway600';
  src: url('#{$raleway-font-path}/raleway-semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$raleway-font-path}/raleway-semibold.woff') format('woff'), /* Pretty Modern Browsers */
       url('#{$raleway-font-path}/raleway-semibold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('#{$raleway-font-path}/raleway-semibold.svg#svgFontName') format('svg'); /* Legacy iOS */
}
/* bold */
@font-face {
	font-family: 'Raleway700';
  src: url('#{$raleway-font-path}/raleway-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$raleway-font-path}/raleway-bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('#{$raleway-font-path}/raleway-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('#{$raleway-font-path}/raleway-bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}
