@mixin clearfix {
  clear: both;
  content: ' ';
  display: block;
}
@mixin raleway {
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 14px;
}
@mixin ralewayLight {
  font-family: 'Raleway300', Arial, sans-serif;
  font-size: 14px;
}
@mixin ralewayMedium {
  font-family: 'Raleway500', Arial, sans-serif;
  font-size: 14px;
}
@mixin ralewaySemibold {
  font-family: 'Raleway600', Arial, sans-serif;
  font-size: 14px;
}
@mixin ralewayBold {
  font-family: 'Raleway700', Arial, sans-serif;
  font-size: 14px;
}
