/* COLORS */
$darkestPurple: rgb(31,32,65);    /* #1F2041 */
$darkPurple: rgb(46,41,78);       /* #2E294E */
$purple: rgb(75,63,114);          /* #4B3F72 */
$royalPurple: rgb(84,13,110);     /* #540D6E */
$darkBlue: rgb(13,44,84);         /* #0D2C54 */
$mediumBlue: rgb(27,67,111);      /* #1B436F */
$grayBlue: rgb(64,112,151);       /* #407097 */
$lightBlue: rgb(63,153,192);      /* #3F99C0 */
$green: rgb(14,173,105);          /* #0EAD69 */
$lightGreen: rgb(127,184,0);      /* #7FB800 */
$red: rgb(215,38,61);             /* #D7263D */
$orange: rgb(246,81,29);          /* #F6511D */
$yellow: rgb(255,180,0);          /*#FFB400  */
$brightYellow: rgb(255,210,63);   /* #FFD23F */
$darkGray: rgb(115,111,114);      /* #736F72 */
$mediumGray: rgb(178,178,178);    /* #B2B2B2 */
$purplishGray: rgb(154,143,151);  /* #9A8F97 */
$medPurpGray: rgb(195,186,186);   /* #C3BABA */
$lightGray: rgb(233,227,230);     /* #E9E3E6 */
$alabaster: rgb(250,250,250);     /* #FAFAFA */
$gunpowder: rgb(62,63,78);        /* #3E3F4E */
$black: rgb(0,0,0);               /* #000000 */
$white: rgb(255,255,255);         /* FFFFFF */
