<div id="content-container" class="config">
  <div id="content-header">
    <h1 class="title">Global Settings</h1>
  </div>

  <div id="content-main">
    <div id="content" class="mui-container-fluid">
        <div class="mui-row config-split-pane">
          <div class="mui-col-md-3 vertical-tabs">
            <div class="margin-top-20">&nbsp;</div>
            <ul class="mui-tabs__bar">
             <li class="mui--is-active">
               <a data-mui-toggle="tab" data-mui-controls="activeDirectories">
                 <span class="float-left">Active Directories</span>
                 <span class="fa fa-angle-right"></span>
               </a>
             </li>
             <li>
               <a data-mui-toggle="tab" data-mui-controls="appVMs">
                 <span class="float-left">Applications Manager</span>
                 <span class="fa fa-angle-right"></span>
               </a>
             </li>
             <li>
               <a data-mui-toggle="tab" data-mui-controls="resources">
                 <span class="float-left">Resources</span>
                 <span class="fa fa-angle-right"></span>
               </a>
             </li>
             <li>
               <a data-mui-toggle="tab" data-mui-controls="sensors">
                 <span class="float-left">Sensors</span>
                 <span class="fa fa-angle-right"></span>
               </a>
             </li>
           </ul>
         </div>
        <div class="mui-col-md-9 vertical-tabs-content">
          <div class="mui-tabs__pane mui--is-active" id="activeDirectories">
            <div class="tab-pane-content">
              <app-config-active-dir></app-config-active-dir>
            </div>
          </div>

          <div class="mui-tabs__pane" id="sensors">
            <div class="tab-pane-content">
              <app-config-sensors></app-config-sensors>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
