<div id="content-container">
  <div id="content-header" class="titlebar">
    <h1 class="titlebar-title">Virtual Machines</h1>
    <button class="titlebar-button" routerLink="/virtual-machines/vm-build">Build VM Template</button>
    <button class="titlebar-button" [disabled]="true">Import VM</button>
  </div>

  <div id="content-main">
    <div id="content">
      <div *ngIf="vms.length < 1" class="mui-container-fluid">
        <!-- if there are no virtues, show this message -->
        <div class="mui-row margin-top-10">
          <div class="mui-col-md-12 padding-left-0">
            <p class="no-data-message">
              No virtual machines have been built at this time. To build a virtual machine, click on the button "Build VM" above.
            </p>
          </div>
        </div>
      </div>

      <!-- if there are virtual machines, show this list -->
      <div *ngIf="vms.length > 0" class="mui-container-fluid">
        <div class="mui-row virtues-filters">
          <div class="mui-col-md-12 padding-left-0 filters">
            <span *ngIf="sortValue === '*'">All VMs</span>
            <a *ngIf="sortValue !== '*'"  (click)="enabledVmList('enabled','*', sortType)">All VMs</a> |
            <span *ngIf="sortValue === true">Enabled VMs</span>
            <a *ngIf="sortValue !== true" (click)="enabledVmList('enabled', true, sortType)">Enabled VMs</a> |
            <span *ngIf="sortValue === false">Disabled VMs</span>
            <a *ngIf="sortValue !== false" (click)="enabledVmList('enabled', false, sortType)">Disabled VMs</a>
          </div>
        </div>
      </div>
      <div class="mui-container-fluid data-list">
        <div class="mui-row table-header-group">
          <div class="table-header mui-col-md-3">
            <a (click)="sortVmColumns('name',sortBy)">Virtual Machine Name</a>
            <span class="list-sorter">
              <span *ngIf="sortColumn === 'name' && sortBy === 'asc'" class="fa fa-sort-up"></span>
              <span *ngIf="sortColumn === 'name' && sortBy === 'desc'" class="fa fa-sort-down"></span>
              <span class="fa fa-sort font-color-gray"></span>
            </span>
          </div>
          <!-- <div class="table-header mui-col-md-2">OS</div> -->
          <div class="table-header mui-col-md-2">
            <a (click)="sortVmColumns('os',sortBy)">OS</a>
            <span class="list-sorter">
              <span *ngIf="sortColumn === 'os' && sortBy === 'asc'" class="fa fa-sort-up"></span>
              <span *ngIf="sortColumn === 'os' && sortBy === 'desc'" class="fa fa-sort-down"></span>
              <span class="fa fa-sort font-color-gray"></span>
            </span>
          </div>
          <div class="table-header mui-col-md-2">Applications</div>

          <!-- <div class="table-header mui-col-md-2">Last Modified By</div> -->
          <div class="table-header mui-col-md-2">
            <a (click)="sortVmColumns('lastEditor',sortBy)">Last Modified By</a>
            <span class="list-sorter">
              <span *ngIf="sortColumn === 'lastEditor' && sortBy === 'asc'" class="fa fa-sort-up"></span>
              <span *ngIf="sortColumn === 'lastEditor' && sortBy === 'desc'" class="fa fa-sort-down"></span>
              <span class="fa fa-sort font-color-gray"></span>
            </span>
          </div>
          <!-- <div class="table-header mui-col-md-1">Security</div> -->
          <div class="table-header mui-col-md-1">
            <a (click)="sortVmColumns('securityTag',sortBy)">Security</a>
            <span class="list-sorter">
              <span *ngIf="sortColumn === 'securityTag' && sortBy === 'asc'" class="fa fa-sort-up"></span>
              <span *ngIf="sortColumn === 'securityTag' && sortBy === 'desc'" class="fa fa-sort-down"></span>
              <span class="fa fa-sort font-color-gray"></span>
            </span>
          </div>
          <div class="table-header mui-col-md-2">
            <a (click)="sortVmColumns('date',sortBy)">Modified Date</a>
            <span class="list-sorter">
              <span *ngIf="sortColumn === 'date' && sortBy === 'asc'" class="fa fa-sort-up"></span>
              <span *ngIf="sortColumn === 'date' && sortBy === 'desc'" class="fa fa-sort-down"></span>
              <span class="fa fa-sort font-color-gray"></span>
            </span>
          </div>
        </div>
        <div *ngFor="let vm of vms | listFilter : sortColumn : sortType : sortValue : sortBy"
        [ngStyle]="{'background-color':vm.enabled ? '#ffffff' : '#eeeeee' }"
         class="mui-row table-row"  appActiveClass >
          <div class="table-data mui-col-md-3 vm-transparent">
            <div class="mini-menu">
              <a class="edit" routerLink="/virtual-machines/edit/{{vm.id}}">{{ vm.name }}</a>

              <!-- if this virtual machine is enabled show this menu -->
              <span *ngIf="vm.enabled === true" class="menu-options">
                <a (click)="vmStatus(vm.id)">Disable</a> |
                <a class="edit" routerLink="/virtual-machines/duplicate/{{vm.id}}">Duplicate</a>
              </span>

              <!-- if this virtual machine is disabled show this menu -->
              <span *ngIf="vm.enabled === false" class="menu-options">
                <a (click)="vmStatus(vm.id)">Enable</a> |
                <a (click)="openDialog(vm.id, 'delete', 'delete', vm.name)">Delete</a>
              </span>
            </div>
          </div>
          <div class="table-data mui-col-md-2 vm-transparent">{{ vm.os }}</div>
          <div class="table-data mui-col-md-2 vm-transparent">
            <ul>
              <ng-container *ngFor="let app of vm.applicationIds">
              <li>{{ getAppName(app)}}</li>
              </ng-container>
            </ul>
          </div>
          <div class="table-data mui-col-md-2 vm-transparent">{{ vm.lastEditor }}</div>
          <div class="table-data mui-col-md-1 vm-transparent">{{ vm.securityTag }}</div>
          <div class="table-data mui-col-md-2 vm-transparent">
            {{vm.enabled ? 'Enabled' : 'Disabled'}}<br />
            {{vm.lastModification | date:'short' }}
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="paging">
        <div class="page-number mui-col-md-4">Page # of #</div>
        <div class="page-controls mui-col-md-4"><span><< First | < Previous | Next > | Last >></span></div>
        <div class="page-item-total mui-col-md-4">{{ totalVms }} Virtual Machines</div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
