<div id="content-container">
  <div id="content-header" class="titlebar">
    <h1 class="titlebar-title">Virtual Machines</h1>
    <button class="titlebar-button" [routerLink]="['vm-build']">Build VM Template</button>
    <button class="titlebar-button" [disabled]="true">Import VM</button>
  </div>

  <div id="content-main">
    <div id="content">
      <div *ngIf="vms.length < 1" class="mui-container-fluid">
        <!-- if there are no virtues, show this message -->
        <div class="mui-row margin-top-10">
          <div class="mui-col-md-12 padding-left-0">
            <p class="no-data-message">
              No virtual machines have been built at this time. To build a virtual machine, click on the button "Build VM" above.
            </p>
          </div>
        </div>
      </div>

      <!-- if there are virtues, show this list -->
      <div *ngIf="vms.length > 0" class="mui-container-fluid">
        <div class="mui-row virtues-filters">
          <div class="mui-col-md-12 padding-left-0 filters">
            <span *ngIf="filterValue === '*'">All VMs</span>
            <a mat-button *ngIf="filterValue !== '*'"  (click)="listFilter('enabled','*')">All VMs</a> |
            <span *ngIf="filterValue === true">Enabled VMs</span>
            <a mat-button *ngIf="filterValue !== true" (click)="listFilter('enabled', true)">Enabled VMs</a> |
            <span *ngIf="filterValue === false">Disabled VMs</span>
            <a mat-button *ngIf="filterValue !== false" (click)="listFilter('enabled', false)">Disabled VMs</a>
          </div>
        </div>
      </div>
      <div class="mui-container-fluid data-list">
        <div class="mui-row table-header-group">
          <div class="table-header mui-col-md-3">
            <a (click)="listFilter('name','asc')">Virtual Machine Name <span class="fa fa-chevron-up"></span></a>
          </div>
          <div class="table-header mui-col-md-2">OS</div>
          <div class="table-header mui-col-md-2">Applications</div>
          <div class="table-header mui-col-md-2">Last Modified By</div>
          <div class="table-header mui-col-md-1">Security</div>
          <div class="table-header mui-col-md-2">Modified Date</div>
        </div>
        <div *ngFor="let vm of vms | listFilter:filterValue:vmSortType" class="mui-row table-row" appActiveClass>
          <div class="table-data mui-col-md-3">
            <div class="mini-menu">
              <a class="edit" [routerLink]="['edit',vm.id]">{{ vm.name }}</a>

              <!-- if this virtue is enabled show this menu -->
              <span *ngIf="vm.enabled === true" class="menu-options">
                <a mat-button (click)="vmStatus(vm.id)">Disable</a> |
                <a class="edit" [routerLink]="['duplicate',vm.id]">Duplicate</a>
              </span>

              <!-- if this virtue is disabled show this menu -->
              <span *ngIf="vm.enabled !== true"class="menu-options">
                <a mat-button (click)="updateVmStatus(vm.id, vm.enabled)">Enable</a> |
                <a mat-button (click)="openDialog(vm.id, 'delete', 'delete', vm.name)">Delete</a>
              </span>
          </div>
          </div>
          <div class="table-data mui-col-md-2">{{ vm.os }}</div>
          <div class="table-data mui-col-md-2">
            <ul>
              <ng-container *ngFor="let app of vm.applicationIds">
              <li>{{ getAppName(app)}}</li>
              </ng-container>
            </ul>
          </div>
          <div class="table-data mui-col-md-2">{{ vm.lastEditor }}</div>
          <div class="table-data mui-col-md-1">{{ vm.securityTag }}</div>
          <div class="table-data mui-col-md-2">
            {{vm.enabled ? 'Enabled' : 'Disabled'}}<br />
            {{vm.lastModification | date:'short' }}
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="paging">
        <div class="page-number mui-col-md-4">Page # of #</div>
        <div class="page-controls mui-col-md-4"><span *ngIf="vmLength > 10"><< First | < Previous | Next > | Last >></span></div>
        <div class="page-item-total mui-col-md-4">{{ totalVms }} Virtual Machines</div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
