<h3>Install Application Package</h3>
<form>
  <mat-form-field *ngIf="selectedOs == null">
    <mat-select placeholder="Select OS" [(ngModel)]="selectedOs" name="os">
      <mat-option *ngFor="let os of osList" [value]="os">
        {{ os }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <p [ngClass]="{
    'hide':selectedOs == null,
    'selected-value':selectedOs != null
  }">{{ selectedOs }}</p>

  <mat-form-field *ngIf="selectedOs === 'LINUX'">
    <mat-select placeholder="Select Distribution" [(ngModel)]="selectedDist" name="os">
      <mat-option *ngFor="let d of distroList" [value]="d">
        {{ d }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <p *ngIf="selectedOs === 'Windows'">
    <label for="file">Upload Package:</label><br />
    <input type="file" id="file" (change)="handleFileInput($event.target.files)" />
  </p>
  <p *ngIf="selectedOs === 'LINUX' && selectedDist != null">
    <label for="url">Package Name:</label>
    <input type="text" id="url" (change)="handleFileInput($event.target.files)" />
  </p>
  <hr />
  <div class="mui-row border-top">
    <div class="mui-col-md-4">
      <input #editor type="hidden" value="system" />
    </div>
    <div class="mui-col-md-4 form-item text-align-center">
      <!-- <span class="margin-right-10"><input name="create-another" type="checkbox" value="1" /> Install Another Application</span> -->
      <button class="button-submit" type="submit" (click)="onInstall()">Install</button>
      <button class="button-cancel" type="cancel" (click)="onCancel()">Cancel</button>
    </div>
    <div class="mui-col-md-4"></div>
  </div>
</form>
