app-dashboard {
  position: relative;
}

.table-container {
  margin: 0 -15px 10px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.table-container .mui-row {
  margin-left: 0;
  margin-right: 0;
}
/deep/ .mat-form-field-underline {
  display: none;
}
