<div id="content-container">
  <div id="content-header" class="titlebar">
    <h1 class="title">Dashboard</h1>
  </div>

  <div id="content-main">


    <div id="content">
      <div class="mui-container-fluid">
        <!-- if there are no virtues, show this message -->
        <div class="mui-row margin-top-10">
          <div class="mui-col-md-12 padding-left-0">
            <form id="filter">
              <p><label>Filter Data:</label>
                <mat-form-field>
                  <mat-select [(ngModel)]="sensorValue" name="sensorFilter" [(value)]="selected">
                    <mat-option *ngFor="let sensor of sensors | filter: sensorValue" [value]="sensor.value">{{ sensor.viewValue }}</mat-option>
                  </mat-select>
                </mat-form-field>

              <br />
              {{ selected }}
            </p>
            </form>
          <div class="mui-container-fluid">
            <div class="mui-row">
              <div class="mui-col-md-2 table-header">Timestamp</div>
              <div class="mui-col-md-3 table-header">Sensor</div>
              <div class="mui-col-md-6 table-header">Message</div>
              <div class="mui-col-md-1 table-header">Level</div>
            </div>
            <div class="table-container">
              <div class="mui-row" *ngFor="let d of jsonData | filter: selected">
                <div class="mui-col-md-2 table-data">{{d.timestamp|date:"MM/dd/yyyy, h:mm a"}}</div>
                <div class="mui-col-md-3 table-data">{{d.sensor}}</div>
                <div class="mui-col-md-6 table-data">{{d.message}}</div>
                <div class="mui-col-md-1 table-data border-bottom">{{d.level}}</div>
              </div>
            </div>
          </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
