app-dashboard {
  position: relative;
}
/deep/ #cdk-overlay-0 {
  position: absolute;
  top: 74px !important;
  left: 75px;
  z-index: 0;
}
.table-container {
  margin: 0 -15px 10px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.table-container .mui-row {
  margin-left: 0;
  margin-right: 0;
}
