<div id="content-container">
  <div id="content-header" class="titlebar">
    <h1 class="title">Dashboard</h1>
  </div>

  <div id="content-main">


    <app-dialog-test [(visible)]="showDialog">
      <h1>Hello World</h1>
      <button (click)="showDialog = !showDialog" class="btn">Close</button>
    </app-dialog-test>

    <div id="content">
      <div class="mui-container-fluid">
        <!-- if there are no virtues, show this message -->
        <div class="mui-row margin-top-10">
          <div class="mui-col-md-12 padding-left-0">
            <p class="virtues-message">
              Sensing data to be displayed here.
            </p>

            <button (click)="showDialog = !showDialog" class="btn">Open</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
