<br>
<ul class="mui-tabs__bar">
  <li class="mui--is-active"><a data-mui-toggle="tab" data-mui-controls="general">General</a></li>
  <li><a data-mui-toggle="tab" data-mui-controls="network">Network</a></li>
  <li><a data-mui-toggle="tab" data-mui-controls="resources">Resources</a></li>
  <li><a data-mui-toggle="tab" data-mui-controls="sensors">Sensors</a></li>
</ul>
<div class="mui-tabs__pane mui--is-active" id="general">
  <div class="tab-pane-content no-overflow">
    <div class="mui-row form-item">
      <div class="mui-col-md-11">
        <h4>General Settings</h4>
      </div>
      <div class="mui-col-md-2 float-right">
        Unprovisioned
        <mat-checkbox [(ngModel)]="item.unprovisioned">
        </mat-checkbox>
      </div>
    </div>
    <br>
    <div class="mui-row form-item">
      <div class="mui-col-md-4 float-left">
        <label>Select Virtue Color:</label>
        <div class="mui-col-md-6 float-right">
          <mat-card id="virtue-color" rowHeight="1:1" [ngStyle]="{'background-color': item.color, 'border':'1px solid black'}"
          (click)="activateColorModal()"></mat-card>
        </div>
      </div>
    </div>
    <br>
    <mat-form-field>
      <mat-select placeholder="Default Browser" [(ngModel)]="item.defaultBrowser">
        <mat-option *ngFor="let browser of browsers" [value]="browser">
          {{browser}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="mui-row form-item">
      <app-item-table #allowedPasteTargetsTable></app-item-table>

      <div class="mui-col-md-2 float-right" *ngIf="mode !== 'View'" >
        <br>
        <label>Add Virtue &nbsp;&nbsp;</label>
        <button mat-mini-fab mat-button class="fab-button" (click)="activatePastableVirtueModal()">
          <mat-icon class="plus" svgIcon="plus" aria-label="Add new item to list of virtues into which this virtue is allowed to paste data."></mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="mui-tabs__pane" id="network">
  <div class="tab-pane-content no-overflow">
    <div class="mui-row ">
      <div class="mui-col-md-9">
        <div class="mui-row">
          <h4>Network Permissions: </h4>
          <div class="mui-col-md-10">
            <br>
            <b>White List</b>
          </div>
          <div class="mui-col-md-2">
            <br>
            <label>Add new &nbsp;&nbsp;</label>
            <button mat-mini-fab mat-button class="fab-button" (click)="addNewNetworkPermission()" style="">
              <mat-icon class="plus" svgIcon="plus" aria-label="Add new network permission."></mat-icon>
            </button>
          </div>
        </div>
        <div class="mui-row">
          <ng-container *ngFor="let column of getNetworkColumns()" >
            <div class="table-header mui-col-md-{{column.colWidth}}">
              <label>{{column.prettyName}}</label>
            </div>
          </ng-container>
        </div>
        <br>
        <div *ngFor="let networkPermission of item.networkWhiteList" class="mui-row">
        <!-- <div *ngFor="let col of getFileSysColumns(); let index = index; trackBy: indexTracker"> -->
          <div  class="mui-col-md-{{getNetworkColumns()[0].colWidth}}">
            <mat-form-field floatLabel="never">
              <input matInput type="text" placeholder="{{getNetworkColumns()[0].name}}"
                      [(ngModel)]="networkPermission[getNetworkColumns()[0].name]" required/>
            </mat-form-field>
          </div>
          <div class="mui-col-md-{{getNetworkColumns()[1].colWidth}}">
            <mat-form-field floatLabel="never">
              <mat-select placeholder="{{getNetworkColumns()[1].name}}"
                       [(ngModel)]="networkPermission.protocol" required >
                <mat-option *ngFor="let p of keys(protocols)" value="{{p}}" >
                  {{p}}
                </mat-option>
              </mat-select>

            </mat-form-field>
          </div>
          <div class="mui-col-md-{{getNetworkColumns()[2].colWidth}}">
            <mat-form-field floatLabel="never">
              <input matInput type="number" placeholder="{{getNetworkColumns()[2].name}}"
                      [(ngModel)]="networkPermission[getNetworkColumns()[2].name]" required/>
            </mat-form-field>
          </div>
          <div class="mui-col-md-{{getNetworkColumns()[3].colWidth}}">
            <mat-form-field floatLabel="never">
              <!-- {{networkPermission[getNetworkColumns()[3].name]}} -->
              <input matInput type="number" placeholder="{{getNetworkColumns()[3].name}}"
                      [(ngModel)]="networkPermission[getNetworkColumns()[3].name]" required/>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mui-tabs__pane" id="resources">
  <div class="tab-pane-content no-overflow">
    <h4>Resources</h4>
    <br>
    <div class="mui-row">
      <div class="mui-col-md-8">
        <div> <!-- File system permissions table -->
          <h5>File System Permissions</h5>

          <div class="mui-row table-header-group">
            <ng-container *ngFor="let col of getFileSysColumns(); let index = index; trackBy: indexTracker">
              <div class="mui-col-md-{{col.colWidth}} table-header flex-vert-center">
                <label>{{col.prettyName}}
                  <br>
                  <ng-container *ngIf="index !== 0">
                    <mat-checkbox
                      name="cb"
                      [checked]="allChecked(col.name)"
                      (change)="checkAll($event, col.name)"
                      >
                    </mat-checkbox>
                  </ng-container>
                </label>
              </div>
            </ng-container>
          </div>
          <div *ngFor="let perm of item.fileSysPerms" class="mui-row table-data-group">
            <!-- see note by indexTracker() -->
            <ng-container *ngFor="let col of getFileSysColumns(); let index = index; trackBy: indexTracker">
              <div class="mui-col-md-{{col.colWidth}} table-data">
                <ng-container *ngIf="index === 0">
                  <label>{{perm[col.name]}}</label>
                </ng-container>
                <ng-container *ngIf="index !== 0">
                  <div *ngIf="perm.enabled || col.name === 'enabled'">
                    <mat-checkbox
                      name="cb"
                      [checked]="perm[col.name]"
                      [(ngModel)]="perm[col.name]"
                      >
                    </mat-checkbox>
                  </div>

                  <!-- show a disabled checkbox if the item is disabled.  -->
                  <div *ngIf="perm.enabled === false && col.name !== 'enabled'">
                    <mat-checkbox
                      name="cb"
                      disabled=true
                      [checked]="perm[col.name]"
                      [(ngModel)]="perm[col.name]"
                      color="#333333">
                    </mat-checkbox>
                  </div>
                </ng-container>
              </div>
            </ng-container>
          </div>
        </div>
        <br>
        <br>

        <div >
          <div class="mui-row">
            <div class="mui-col-md-10">
              <br>
              <h5>Printers</h5>
            </div>
            <div class="mui-col-md-2">
              <br>
              <label>&nbsp;&nbsp;&nbsp;&nbsp;Add new &nbsp;&nbsp;</label>
              <button mat-mini-fab mat-button class="fab-button" (click)="addNewPrinter()" style="">
                <mat-icon class="plus" svgIcon="plus" aria-label="Add new printer."></mat-icon>
              </button>
            </div>
          </div>
          <div class="mui-row table-header-group">
            <!-- <ng-container *ngFor="let col of getFileSysColumns()">
              <div class="mui-col-md-{{col.colWidth}} table-header">
                <label>{{col.prettyName}}</label>
              </div>
            </ng-container> -->
            <div class="mui-col-md-8 table-header">
              <label>Printer Info</label>
            </div>
            <div class="mui-col-md-2 table-header">
              <label>Status</label>
            </div>
            <div class="mui-col-md-2 table-header">
            </div>
          </div>
          <div *ngFor="let printer of item.allowedPrinters; let index = index" class="mui-row table-data-group">
            <div class="mui-col-md-8 table-data">
              <label>{{printer.info}}</label>
            </div>
            <div class="mui-col-md-2 table-data">
              <label>{{printer.status}}</label>
            </div>
            <div class="mui-col-md-2 table-data">
              <mat-icon class="delete" svgIcon="delete" (click)="removePrinter(index)" aria-label="Revoke access to this printer"></mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mui-tabs__pane" id="sensors">
  <div class="tab-pane-content no-overflow">
    <h4>Sensor Settings</h4>
  </div>
</div>


<script>
  var paneIds = ['general', 'network', 'resources', 'sensors'],
    currPos = 0;

  function activateNext() {
    // increment id
    currPos = (currPos + 1) % paneIds.length;
    // activate tab
    mui.tabs.activate(paneIds[currPos]);
  }
</script>
