<br>
<ul class="mui-tabs__bar">
  <li class="mui--is-active"><a data-mui-toggle="tab" data-mui-controls="general">General</a></li>
  <li><a data-mui-toggle="tab" data-mui-controls="network">Network</a></li>
  <li><a data-mui-toggle="tab" data-mui-controls="resources">Resources</a></li>
  <!-- <li><a data-mui-toggle="tab" data-mui-controls="sensors">Sensors</a></li> -->
</ul>
<div class="mui-tabs__pane mui--is-active" id="general">
  <div class="tab-pane-content no-overflow">
    <div class="mui-row form-item">
      <div class="mui-col-md-11">
        <h4>General Settings</h4>
      </div>
    </div>
    <br>
    <div class="mui-row form-item">
      <div class="mui-col-md-4 float-left">
        <label>Select Virtue Color:</label>
        <div class="mui-col-md-6 float-right">

          <ng-container *ngIf="inViewMode() && item !== undefined">
            <mat-card id="virtue-color" rowHeight="1:1" [ngStyle]="{'background-color': item.color, 'border':'1px solid black'}"></mat-card>
        </ng-container>

        <ng-container *ngIf="!inViewMode() && item !== undefined">
          <mat-card id="virtue-color" rowHeight="1:1" [ngStyle]="{'background-color': item.color, 'border':'1px solid black'}"
          (click)="activateColorModal()"></mat-card>
        </ng-container>

        </div>
      </div>
    </div>
    <br>
    <br>
    <!-- <label>Set Default Virtue to open web-links in &nbsp;&nbsp;
      <button class="button-submit" (click)="activateDefaultBrowserVirtueModal()" [disabled]="inViewMode()" >
      </button>
    </label> -->
    <br>
    <!-- <label> Default web-broswer virtue: </label>
    <div class="mui-row form-item">
      <ng-container *ngIf="this.item.defaultBrowserVirtue !== undefined">
        <div class="mui-col-md-4 ">
          <label>Name: {{allVirtues.get(this.item.defaultBrowserVirtue).getName()}}</label>
        </div>
        <div class="mui-col-md-4 ">
          <label>Default browser: not implemented</label>
        </div>
        <div class="mui-col-md-4 ">
          <label>Available apps:
            <ul>
              <ng-container *ngFor="let app of getGrandchildren(allVirtues.get(this.item.defaultBrowserVirtue))">
                <li>
                  {{app.getName()}}
                <li>
              </ng-container>
            </ul>
          </label>
        </div>
      </ng-container>
    </div> -->
    <br>
    <br>

    <label> Clipboard Permissions: </label>
    <div class="mui-row form-item">
      <app-table #allowedPasteTargetsTable></app-table>
    </div>
  </div>
</div>
<div class="mui-tabs__pane" id="network">
  <div class="tab-pane-content no-overflow">
    <div class="mui-row ">
      <div class="mui-col-md-11">
        <div class="mui-row">
          <h4>Network Permissions: </h4>
          <div class="mui-col-md-10">
            <br>
            <b>White List</b>
          </div>
          <div class="mui-col-md-2">
            <br>
            <label>Add new &nbsp;&nbsp;</label>
            <button mat-mini-fab mat-button class="fab-button" [disabled]="inViewMode()" (click)="activateNetworkPermissionModal()" style="">
              <mat-icon class="plus" svgIcon="plus" aria-label="Add new network permission."></mat-icon>
            </button>
          </div>
        </div>
        <app-table #networkPermsTable></app-table>

      </div>
    </div>
  </div>
</div>

<div class="mui-tabs__pane" id="resources">
  <div class="tab-pane-content no-overflow">
    <h4>Resources</h4>
    <br>
    <div class="mui-row">
      <div class="mui-col-md-8">
        <div>
          <div class="mui-row">
            <div class="mui-col-md-10">
              <br>
              <h5>File System Permissions</h5>
            </div>
            <div class="mui-col-md-2">
              <br>
              <label>&nbsp;&nbsp;&nbsp;&nbsp;Add new &nbsp;&nbsp;</label>
              <button mat-mini-fab mat-button class="fab-button" [disabled]="inViewMode()" (click)="activateFileSystemModal()" style="">
                <mat-icon class="plus" svgIcon="plus" aria-label="Attach/remove access to a file system from this Virtue."></mat-icon>
              </button>
            </div>
          </div>

          <app-table #fileSystemsPermsTable></app-table>

        </div>
        <br>
        <br>

        <!-- <div >
          <div class="mui-row">
            <div class="mui-col-md-10">
              <br>
              <h5>Printers</h5>
            </div>
            <div class="mui-col-md-2">
              <br>
              <label>&nbsp;&nbsp;&nbsp;&nbsp;Add new &nbsp;&nbsp;</label>
              <button mat-mini-fab mat-button class="fab-button" [disabled]="inViewMode()" (click)="activatePrinterModal()" style="">
                <mat-icon class="plus" svgIcon="plus" aria-label="Add new printer."></mat-icon>
              </button>
            </div>
          </div>
          <app-table #printerTable></app-table>

        </div> -->
      </div>
    </div>
  </div>
</div>
<!-- <div class="mui-tabs__pane" id="sensors">
  <div class="tab-pane-content no-overflow">
    <h4>Sensor Settings</h4>
    <app-table #sensorTable></app-table>
  </div>
</div> -->

<!-- This seems potentially useful, but I don't think it's used at the moment. -->
<script>
  let paneIds = ['general', 'network', 'resources', 'sensors'],
    currPos = 0;

  function activateNext() {
    // increment id
    currPos = (currPos + 1) % paneIds.length;
    // activate tab
    mui.tabs.activate(paneIds[currPos]);
  }
</script>
