mat-card {
  width: 40%;
  height: 40%;
}

.scaleToFit {
    height: 95% !important;
}

.table {
    overflow-y: visible;
    margin-top: 0;
    margin-bottom: 0;
    height: 100% !important;
}

.inset_table {
  height:80% !important;
  padding:0;
  margin: 0;
  width: 100%;
}

#mat-card {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: silver;
}

.no-overflow {
    overflow-y: visible;
    margin-top: 0;
    margin-bottom: 0;
}
