mat-card {
  width: 40%;
  height: 40%;
}

.scaleToFit {
    height: 95% !important;
}

.table {
    overflow-y: visible;
    margin-top: 0;
    margin-bottom: 0;
    height: 100% !important;
}

.inset_table {
  /* overflow-y: auto; */
  /* overflow-x: auto; */
  height:80% !important;
  padding-left:0;
  padding-right:0;
  padding-top:0;
  padding-bottom:0;
  margin-left:0;
  margin-right:0;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  /* display: inline-block; */
}

#mat-card {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: silver;
}

.no-overflow {
    overflow-y: visible;
    margin-top: 0;
    margin-bottom: 0;
}
