<form name="color-list" class="container inset_table">
  <div class="mui-container-fluid">
    <div class="mui-col-md-9">
      <h2 mat-dialog-title>Select a color for this virtue.</h2>
    </div>
    <div class="mui-col-md-1">
      <mat-card title="{{selectedColor.prettyName}}" fxFlex="20%"
              [ngStyle]="{'background-color': selectedColor.hex}"></mat-card>
    </div>
  </div>
  <div mat-dialog-content flex class="inset_table">
    <div class="inset_table">
      <div class="mui-container-fluid no-overflow table">
        <div class="mui-row table-header-group">
          <div class="mui-col-md-12 table-header">
            <span class="float-left text-align-center">Available Colors</span>
          </div>
        </div>
        <mat-grid-list cols="5" rowHeight="1:1" fxLayout="row" class="mui-row table-row">
          <mat-grid-tile *ngFor="let c of colorSet.list" >
            <mat-card title="{{c.prettyName}}" *ngIf="c === selectedColor"
                    [ngStyle]="{ 'background-color': c.hex, 'border':'4px solid black' }"
                    (click)=onSelect(c)></mat-card>
            <mat-card title="{{c.prettyName}}" *ngIf="c !== selectedColor"
                    [ngStyle]="{ 'background-color': c.hex }" (click)=onSelect(c)></mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
  </div>

  <div mat-dialog-actions style="align:bottom">
    <button class="button" type="submit" (click)="submit();">
      Submit
    </button>
    <button type="button" (click)="cancel();" mat-dialog-close>
      Cancel
    </button>
  </div>
</form>
