<form name="vm-list">
<h2 mat-dialog-title>Add Application Packages</h2>
<div mat-dialog-content>
  <p>Select applications to include in the VM.</p>
  <div class="mui-container-fluid mui-col-md-12 table-container">
    <div class="mui-row table-header-group">
      <div class="mui-col-md-5 table-header">
        <span class="float-left">
          <mat-checkbox
            name="selectAll"
            (change)="selectAll($event.checked)"
            [disabled]="disabled" ></mat-checkbox>
        </span>
        <span class="float-left text-align-left">Applications</span>
      </div>
      <div class="mui-col-md-2 table-header">
        Version
      </div>
      <div class="mui-col-md-5 table-header">
        OS
      </div>
    </div>
    <div class="scrolling-list">
      <div *ngFor="let app of appList; let i = index " class="mui-row table-row">
        <div class="mui-col-md-5 table-data">
          <span class="float-left">
            <mat-checkbox
              name="cbApp"
              [checked]="selectApp(app.id)"
              (change)="cbAppList($event.checked, app.id, i)"
              value="{{app.id}}" ></mat-checkbox>
          </span>
          <span class="float-left">{{ app.name }}</span>
        </div>
        <div class="mui-col-md-2 table-data">
          {{ app.version }}
        </div>
        <div class="mui-col-md-5 table-data">
          {{ app.os }}
        </div>
      </div>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button class="button" type="submit" (click)="onAddApps();">
  Add Selected Apps
  </button>
  <button mat-button type="button" (click)="cancelModal();" mat-dialog-close>
    Cancel
  </button>
</div>
</form>
