<ul class="mui-tabs__bar">
  <li class="mui--is-active"><a data-mui-toggle="tab" data-mui-controls="general">General</a></li>
  <li><a data-mui-toggle="tab" data-mui-controls="network">Network</a></li>
  <li><a data-mui-toggle="tab" data-mui-controls="resources">Resources</a></li>
  <li><a data-mui-toggle="tab" data-mui-controls="sensors">Sensors</a></li>
</ul>
<div class="mui-tabs__pane mui--is-active" id="general">
  <div class="tab-pane-content">
    <h4>General Settings</h4>
    <div class="mui-row form-item">
      <div class="mui-col-md-1"></div>
      <div class="mui-col-md-4 padding-left-0"><label>Select Virtue Color:</label></div>
      <div class="mui-col-md-6 float-right">
        <mat-card id="virtue-color" rowHeight="1:1" [ngStyle]="{'background-color': virtueColor, 'border':'1px solid black'}" (click)="activateModal()"></mat-card>
      </div>
    </div>
    <!-- <div class="mui-row form-item">
      <div class="mui-col-md-4 padding-left-0"><label>Customize Icon</label></div>
      <div class="mui-col-md-8 icon-upload">
        <mat-form-field>
          <input matInput type="text" id="icon-file" class="upload-file-input" name="icon" />
          <button mat-button class="upload-button">upload</button>
        </mat-form-field>
      </div>
    </div> -->
    <div class="mui-row form-item">
      <h5>Inter-Virtue Settings</h5>
      <div class="mui-col-md-12">
        <div class="mui-row table-header-group">
          <div class="table-header mui-col-md-6"><span>Virtue</span></div>
          <div class="table-header mui-col-md-2 text-align-center"><span>Read</span></div>
          <div class="table-header mui-col-md-2 text-align-center"><span>Write</span></div>
          <div class="table-header mui-col-md-2 text-align-center"><span>Open Browser</span></div>
        </div>
        <div class="mui-row">
          <div class="table-data mui-col-md-6">Virtue Name</div>
          <div class="table-data mui-col-md-2 text-align-center">
            <mat-checkbox name="read-[id]"></mat-checkbox>
          </div>
          <div class="table-data mui-col-md-2 text-align-center">
            <mat-checkbox name="read-[id]"></mat-checkbox>
          </div>
          <div class="table-data mui-col-md-2 text-align-center">
            <mat-checkbox name="read-[id]"></mat-checkbox>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mui-tabs__pane" id="network">
  <div class="tab-pane-content">
    <h4>Network Settings </h4>
    <div class="mui-row form-item">
      <span class="mui-col-md-5 label">Remote IP Settings:</span>
      <span class="mui-col-md-7 text-align-right">
         <mat-form-field>
           <input matInput type="text" name="remote_ip_settings" value="" />
         </mat-form-field>
       </span>
    </div>
    <div class="mui-row form-item">
      <span class="mui-col-md-5 label">Protocol:</span>
      <span class="mui-col-md-7 text-align-right">
         <mat-form-field>
           <input matInput type="text" name="remote_protocol" value="" />
         </mat-form-field>
       </span>
    </div>
    <div class="mui-row form-item">
      <span class="mui-col-md-5 label">Local Protocol:</span>
      <span class="mui-col-md-7 text-align-right">
         <mat-form-field>
           <input matInput type="text" name="local_protocol" value="" />
         </mat-form-field>
       </span>
    </div>
    <hr />
    <div class="mui-row">
      <div class="mui-col-md-8"><h5 class="virtue-title">Access Control List</h5></div>
      <div class="mui-col-md-4 text-align-right"><button mat-button class="virtue-button">Add</button></div>
    </div>
    <div class="mui-container-fluid">
      <div class="mui-row">
        <div class="mui-col-md-12">
          <div class="mui-row table-header-group">
            <div class="mui-col-md-1 table-header"><span>#</span></div>
            <div class="mui-col-md-7 table-header">Address</div>
            <div class="mui-col-md-2 table-header text-align-center"><span>Enable</span></div>
            <div class="mui-col-md-2 table-header text-align-center"><span>Options</span></div>
          </div>
          <div class="mui-row table-row">
            <div class="mui-col-md-1 table-data">[id]</div>
            <div class="mui-col-md-7 table-data">[address]</div>
            <div class="mui-col-md-2 table-data text-align-center">
              <mat-checkbox name="access-enable-[id]"></mat-checkbox>
            </div>
            <div class="mui-col-md-2 table-data text-align-center">
              <a href="#"><span class="fa fa-trash" aria-hidden="true"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mui-tabs__pane" id="resources">
  <div class="tab-pane-content">
    <h4>Resources</h4>
    <p><mat-checkbox name="resources-global"> Use Global Settings</mat-checkbox></p>
    <div class="mui-row form-item">

      <div class="mui-row form-item">
        <h5>File System Permissions</h5>
        <div class="mui-col-md-12">
          <div class="mui-row table-header-group">
            <div class="mui-col-md-4 table-header">Description</div>
            <div class="mui-col-md-2 table-header text-align-center"><span>Read</span></div>
            <div class="mui-col-md-2 table-header text-align-center"><span>Write</span></div>
            <div class="mui-col-md-2 table-header text-align-center"><span>Execute</span></div>
            <div class="mui-col-md-2 table-header text-align-center"><span>Enable</span></div>
          </div>
          <div class="mui-row">
            <div class="mui-col-md-4 table-data">[description]</div>
            <div class="mui-col-md-2 table-data text-align-center">
              <mat-checkbox name="filesys-read-[id]"></mat-checkbox>
            </div>
            <div class="mui-col-md-2 table-data text-align-center">
              <mat-checkbox name="filesys-write-[id]"></mat-checkbox>
            </div>
            <div class="mui-col-md-2 table-data text-align-center">
              <mat-checkbox name="filesys-execute-[id]"></mat-checkbox>
            </div>
            <div class="mui-col-md-2 table-data text-align-center">
              <mat-checkbox name="filesys-enable-[id]"></mat-checkbox>
            </div>
          </div>
        </div>
      </div>
      <div class="mui-row form-item">
        <h5>Printers</h5>
        <div class="mui-col-md-12">
          <div class="mui-row table-header-group">
            <div class="mui-col-md-8 table-header">Description</div>
            <div class="mui-col-md-2 table-header text-align-center"><span>Status</span></div>
            <div class="mui-col-md-2 table-header text-align-center"><span>Enable</span></div>
          </div>
          <div class="mui-row">
            <div class="mui-col-md-8 table-data">[printer info]</div>
            <div class="mui-col-md-2 table-data text-align-center">[status]]</div>
            <div class="mui-col-md-2 table-data text-align-center">
              <mat-checkbox name="printer-enable-[id]"></mat-checkbox>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mui-tabs__pane" id="sensors">
  <div class="tab-pane-content">
    <h4>Sensor Settings</h4>
    <p><mat-checkbox name="resources-global"> Use Global Settings</mat-checkbox></p>
    <div class="mui-row form-item">
      <h5>Network Tools</h5>
      <div class="mui-col-md-12">
        <div class="mui-row table-header-group">
          <div class="mui-col-md-4 table-header">Sensor Control</div>
          <div class="mui-col-md-2 table-header text-align-center"><span>Default</span></div>
          <div class="mui-col-md-2 table-header text-align-center"><span>Low</span></div>
          <div class="mui-col-md-2 table-header text-align-center"><span>High</span></div>
          <div class="mui-col-md-2 table-header text-align-center"><span>Highest</span></div>
        </div>
        <div class="mui-row">
          <mat-radio-group>
            <div class="mui-col-md-4 table-data">[network-controller]</div>
            <div class="mui-col-md-2 table-data text-align-center">
              <mat-radio-button name="network-controller-[id]" value="default"></mat-radio-button>
            </div>
            <div class="mui-col-md-2 table-data text-align-center">
              <mat-radio-button name="network-controller-[id]" value="low"></mat-radio-button>
            </div>
            <div class="mui-col-md-2 table-data text-align-center">
              <mat-radio-button name="network-controller-[id]" value="high"></mat-radio-button>
            </div>
            <div class="mui-col-md-2 table-data text-align-center">
              <mat-radio-button name="network-controller-[id]" value="adversarial"></mat-radio-button>
            </div>
          </mat-radio-group>
        </div>
      </div>
    </div>
    <div class="mui-row form-item">
      <h5>Virtue Sensor Settings</h5>
      <div class="mui-col-md-12">
        <div class="mui-row table-header-group">
          <div class="mui-col-md-4 table-header">Sensor Context</div>
          <div class="mui-col-md-2 table-header text-align-center"><span>Default</span></div>
          <div class="mui-col-md-2 table-header text-align-center"><span>Low</span></div>
          <div class="mui-col-md-2 table-header text-align-center"><span>High</span></div>
          <div class="mui-col-md-2 table-header text-align-center"><span>Highest</span></div>
        </div>
        <div class="mui-row">
          <mat-radio-group>
            <div class="mui-col-md-4 table-data">In-Resource (Unikernel)</div>
            <div class="mui-col-md-2 table-data text-align-center">
              <mat-radio-button name="unikernel-[id]" value="default"></mat-radio-button>
            </div>
            <div class="mui-col-md-2 table-data text-align-center">
              <mat-radio-button name="unikernel-[id]" value="low"></mat-radio-button>
            </div>
            <div class="mui-col-md-2 table-data text-align-center">
              <mat-radio-button name="unikernel-[id]" value="high"></mat-radio-button>
            </div>
            <div class="mui-col-md-2 table-data text-align-center">
              <mat-radio-button name="unikernel-[id]" value="adversarial"></mat-radio-button>
            </div>
          </mat-radio-group>
        </div>
        <div class="mui-row">
          <mat-radio-group>
            <div class="mui-col-md-4 table-data">In-Virtue Controller</div>
            <div class="mui-col-md-2 table-data text-align-center">
              <mat-radio-button name="in-virtue-controller-[id]" value="default"></mat-radio-button>
            </div>
            <div class="mui-col-md-2 table-data text-align-center">
              <mat-radio-button name="in-virtue-controller-[id]" value="low"></mat-radio-button>
            </div>
            <div class="mui-col-md-2 table-data text-align-center">
              <mat-radio-button name="in-virtue-controller-[id]" value="high"></mat-radio-button>
            </div>
            <div class="mui-col-md-2 table-data text-align-center">
              <mat-radio-button name="in-virtue-controller-[id]" value="adversarial"></mat-radio-button>
            </div>
          </mat-radio-group>
        </div>
      </div>
    </div>
    <div class="mui-row form-item">
      <h5>Logging</h5>
      <div class="mui-col-md-12">
        <div class="mui-row table-header-group">
          <div class="mui-col-md-4 table-header">Sensor Context</div>
          <div class="mui-col-md-2 table-header text-align-center">Default</div>
          <div class="mui-col-md-2 table-header text-align-center">Low</div>
          <div class="mui-col-md-2 table-header text-align-center">High</div>
          <div class="mui-col-md-2 table-header text-align-center">Highest</div>
        </div>
        <div class="mui-row">
          <mat-radio-group>
            <div class="mui-col-md-4 table-data">Aggregator</div>
            <div class="mui-col-md-2 table-data text-align-center">
              <mat-radio-button name="aggregator-[id]" value="default"></mat-radio-button>
            </div>
            <div class="mui-col-md-2 table-data text-align-center">
              <mat-radio-button name="aggregator-[id]" value="low"></mat-radio-button>
            </div>
            <div class="mui-col-md-2 table-data text-align-center">
              <mat-radio-button name="aggregator-[id]" value="high"></mat-radio-button>
            </div>
            <div class="mui-col-md-2 table-data text-align-center">
              <mat-radio-button name="aggregator-[id]" value="adversarial"></mat-radio-button>
            </div>
          </mat-radio-group>
        </div>
        <div class="mui-row">
          <mat-radio-group>
            <div class="mui-col-md-4 table-data">Archive</div>
            <div class="mui-col-md-2 table-data text-align-center">
              <mat-radio-button name="archive-[id]" value="default"></mat-radio-button>
            </div>
            <div class="mui-col-md-2 table-data text-align-center">
              <mat-radio-button name="archive-[id]" value="low"></mat-radio-button>
            </div>
            <div class="mui-col-md-2 table-data text-align-center">
              <mat-radio-button name="archive-[id]" value="high"></mat-radio-button>
            </div>
            <div class="mui-col-md-2 table-data text-align-center">
              <mat-radio-button name="archive-[id]" value="adversarial"></mat-radio-button>
            </div>
          </mat-radio-group>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  var paneIds = ['general', 'network', 'resources', 'sensors'],
    currPos = 0;

  function activateNext() {
    // increment id
    currPos = (currPos + 1) % paneIds.length;
    // activate tab
    mui.tabs.activate(paneIds[currPos]);
  }
</script>
