<div class="titlebar">
  <h2>Printers</h2>
</div>
<div class="mui-col-md-2 float-right">
  <br>
  <label>Add Printer &nbsp;&nbsp;</label>
  <button mat-mini-fab mat-button class="fab-button" (click)="addPrinter()" >
    <mat-icon class="plus" svgIcon="plus" aria-label="Add a new printer for the virtue to be given access to."
    ></mat-icon>
  </button>
</div>
<form id="printers">
  <app-table #printersTable></app-table>
<!--
<div class="mui-row">
  <hr>
  <div class="mui-col-md-4">&nbsp;</div>
  <div class="mui-col-md-4 form-item text-align-center">
    <button  class="button-submit" (disabled)="changes()" (click)="save();" >Save Changes</button>
    <button  class="button-cancel" (disabled)="changes()" (click)="reloadPage()">Discard Changes</button>
  </div>
</div> -->
</form>
