<div class="titlebar">
  <h2 class="title">Resources</h2>
  <div class="float-right"><button (click)="activateModal()">Add Resource</button></div>
</div>
<form id="config-permissions" method="post">
  <h3>File System Permissions</h3>
  <div id="file-system-list" class="table-container padding-left-15">
    <div class="mui-row table-header-row">
      <div class="mui-col-md-7 table-header"><span>Description</span></div>
      <div class="mui-col-md-1 table-header"><span>Read</span></div>
      <div class="mui-col-md-1 table-header"><span>Write</span></div>
      <div class="mui-col-md-1 table-header"><span>Execute</span></div>
      <div class="mui-col-md-1 table-header"><span>Enable</span></div>
      <div class="mui-col-md-1 table-header"><span>Options</span></div>
    </div>
    <div class="mui-row table-row">
      <div class="mui-col-md-7 table-data"><span>[ description ]</span></div>
      <div class="mui-col-md-1 table-data text-align-center"><span><input type="checkbox" name="input-id" value="read" /></span></div>
      <div class="mui-col-md-1 table-data text-align-center"><span><input type="checkbox" name="input-id" value="write" /></span></div>
      <div class="mui-col-md-1 table-data text-align-center"><span><input type="checkbox" name="input-id" value="execute" /></span></div>
      <div class="mui-col-md-1 table-data text-align-center"><span><input type="checkbox" name="input-id" value="enable" /></span></div>
      <div class="mui-col-md-1 table-data text-align-center"><button (click)="openDialog(1,'delete','Resource')" class="button-trash"><span class="fa fa-trash"></span></button></div>
    </div>
  </div>
  <h3>Printers</h3>
  <div id="printer-list" class="table-container padding-left-15">
    <div class="mui-row table-header-row">
      <div class="mui-col-md-6 table-header"><span>Printer</span></div>
      <div class="mui-col-md-2 table-header"><span>Location</span></div>
      <div class="mui-col-md-2 table-header"><span>Status</span></div>
      <div class="mui-col-md-1 table-header"><span>Enable</span></div>
      <div class="mui-col-md-1 table-header"><span>Options</span></div>
    </div>
    <div class="mui-row table-row">
      <div class="mui-col-md-6 table-data"><span>[ printer ]</span></div>
      <div class="mui-col-md-2 table-data"><span>[ location ]</span></div>
      <div class="mui-col-md-2 table-data"><span>[ status ]</span></div>
      <div class="mui-col-md-1 table-data text-align-center"><span><input type="checkbox" name="input-id" value="enable" /></span></div>
      <div class="mui-col-md-1 table-data text-align-center"><button (click)="openDialog(1,'delete','Printer')" class="button-trash"><span class="fa fa-trash"></span></button></div>
    </div>
  </div>
  <div class="mui-row">
    <div class="mui-col-md-4">&nbsp;</div>
    <div class="mui-col-md-4 form-item text-align-center">
      <button class="button-submit" type="submit">Save</button>
    </div>
    <div class="mui-col-md-4"></div>
  </div>

</form>
