<div class="mui-container-fluid">
  <div class="mui-row">

    <div class="mui-row titlebar">
      <div class="mui-col-md-12">
        <h3 class="titlebar-title">Users granted this Virtue</h3>
      </div>
    </div>
    <app-table #parentTable></app-table>
  </div>
  <div class="mui-row">

    <div class="mui-row titlebar">
      <div class="mui-col-md-12">
        <h3 class="titlebar-title">Virtue Instances</h3>
      </div>
    </div>
    <app-table #instanceTable></app-table>
  </div>
</div>
