<form name="virtueList">
<h2 mat-dialog-title>{{data.dialogMode}} Virtues</h2>
<div mat-dialog-content>
  <p>Select virtues to attach to user role.</p>
  <div class="mui-container-fluid mui-col-md-12 table-container">
    <div class="mui-row table-header-group">
      <div class="mui-col-md-2 table-header">
        <span class="float-left">
          <mat-checkbox
          name="selectAll"
          (change)="selectAll($event.checked)"
          [disabled]="disabled"></mat-checkbox>
        </span>
      </div>
      <div class="table-header mui-col-md-3">Virtue</div>
      <div class="table-header mui-col-md-7">Applications</div>
    </div>
    <div class="mui-row table-row" *ngFor="let virtue of virtues">
      <div class="mui-col-md-2 table-data">
        <span class="float-left">
          <mat-checkbox
            name="cbVirtue"
            [checked]="selectedVirtues(virtue.id)"
            (change)="cbVirtueList($event.checked, virtue.id, i)"
            value="{{virtue.id}}" ></mat-checkbox>
        </span>
      </div>
      <div class="table-data mui-col-md-3">{{ virtue.name }}</div>
      <div class="table-data mui-col-md-7">
        <ul>
          <li *ngFor="let app of virtue.applicationIds">{{ getAppName(app) }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button type="submit" (click)="onAddVirtues();">
  {{data.dialogButton}}
  </button>
  <button mat-button type="button" mat-dialog-close (click)="cancelModal();">
    Cancel
  </button>
</div>
</form>
