<form>
<h2 mat-dialog-title>Manage Virtues</h2>
<div mat-dialog-content>
  <div class="mui-container-fluid mui-col-md-12">
    <div class="mui-row table-header-group">
      <div class="table-header mui-col-md-2 text-align-left">
        <mat-checkbox
        name="selectAll"
        (change)="selectAll($event.checked)"
        [disabled]="disabled"></mat-checkbox>
      </div>
      <div class="table-header mui-col-md-3">Virtue</div>
      <div class="table-header mui-col-md-7">Applications</div>
    </div>
    <div class="mui-row" *ngFor="let virtue of virtues; let i = index">
      <div class="mui-col-md-2">
        <mat-checkbox
          name="cbVirtue"
          [checked]="selectedVirtues(virtue.id)"
          (change)="cbVirtueList($event.checked, virtue.id, i)"
          value="{{virtue.id}}" ></mat-checkbox>
      </div>
      <div class="table-data mui-col-md-3">{{ virtue.name }}</div>
      <div class="table-data mui-col-md-7">
        <ul>
          <li *ngFor="let app of virtue.applicationIds">{{ app }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button type="submit" (click)="onAddVirtues();">
  {{data.dialogButton}}
  </button>
  <button mat-button type="button" mat-dialog-close>
    Cancel
  </button>
</div>
</form>
