<form>
<h2 mat-dialog-title>{{data.dialogMode}} Virtues</h2>
<div mat-dialog-content>
  <div class="mui-container-fluid mui-col-md-12">
    <div class="mui-row">
      <div class="mui-col-md-4 padding-left-0"><label>Select a Virtue</label></div>
      <div class="mui-col-md-6 padding-right-0">
        <mat-form-field>
          <mat-select name="virtues" panelClass="select-virtue-class">
            <mat-option *ngFor="let option of virtues" [value]="option">{{ option }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="mui-col-md-2">
      <button class="button">Add</button></div>
    </div>
    <div class="mui-row">
      <p><label>Virtues:</label></p>
      <div id="virtue-1" class="mui-col-md-6" style="background-color: #F6511D">
        <span class="icon"><img [src]="data.appIcon" /></span>
        <span class="virtue-name">Virtue 1</span>
        <button class="fa fa-times fa-lg remove-virtue"></button>
      </div>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button type="submit" (click)="save();">
  {{data.dialogButton}}
  </button>
  <button mat-button type="button" mat-dialog-close>
    Cancel
  </button>
</div>
</form>
