/* virtue-modal.component.css */
::ng-deep .cdk-overlay-pane {
  position: absolute;
}
::ng-deep .virtue-modal-overlay {
  left: 33%;
  top: 10%;
}
div[id^='virtue-'] span {
  display:block;
  padding: 0.75rem 0;
}
span.icon {
  float: left;
  margin-right: 10px;
  width: 20px;
}
span.icon img {
  display: block;
  float: left;
  width: 20px;
}
span.virtue-name {
  float: left;
  font-family: 'Raleway300';
  color: #FFF;
}
.remove-virtue {
  background-color: #E9E3E6;
  float: right;
  margin: 6px 0 0 0;
  padding: 5px;
}
