.virtues-titlebar {
  clear: both;
  padding-bottom: 2rem;
}
.virtues-titlebar .virtues-page-title {
  display: block;
  float: left;
  font-size: 2.8rem;
  margin: 0;
}
.virtues-titlebar .virtues-button {
  background-color: #E9E3E6;
  border: 1px solid #B2B2B2;
  border-radius: 0;
  display: block;
  float: left;
  margin: 0.5rem 0 0 1.5rem;
  padding: 0.5rem 0.7rem;
}

/*.virtue-list {
  padding: 1.5rem 0 1rem;
}*/

.virtue-options {
  display: block;
  font-family: 'Raleway-medium', Arial, sans-serif;
  font-size: 0.88rem;
  clear: both;
}
