<div id="content-container">
  <div id="content-header" class="virtue-titlebar">
    <h2 class="virtue-title">Create Virtue</h2>
  </div>

  <div id="content-main" class="border-top">
    <form id="create-virtue" method="post">
      <div id="content" class="virtue-content">
        <vertical-split-pane
          primary-component-minsize="60"
          secondary-component-minsize="40"
          [primary-component-toggled-off]="false"
          [secondary-component-toggled-off]="someCondition"
          local-storage-key="split-pane"
          primary-component-initialratio="0.8">

          <div class="split-pane-content-primary">

            <div class="mui-row form-item margin-top-15">
              <div class="mui-col-md-12">
                <input type="text" id="virtue-name" value="" placeholder="Virtue Name" />
              </div>
            </div>
            <div class="mui-row titlebar">
              <div class="mui-col-md-12">
                <h3 class="title">Virtual Machines</h3>
                <button mat-button class="titlebar-button" (click)="activateModal('test')">Add VM</button>
              </div>
            </div>
            <!-- if there are no virtue, show this message -->
            <div *ngIf="vmList.length < 1" class="mui-row margin-top-10">
              <div class="mui-col-md-12">
                <p class="no-data-message">
                  No virtual machines are attached to this virtue. To add VM(s), click on the button "Add VM".
                </p>
              </div>
            </div>
            <!-- if there are virtue machines, show this list -->
            <div *ngIf="vmList.length > 0" class="mui-container-fluid data-list">
              <div class="mui-row table-header-group">
                <div class="table-header mui-col-md-5">Virtual Machine</div>
                <div class="table-header mui-col-md-2">OS</div>
                <div class="table-header mui-col-md-5">Applications</div>
              </div>
              <div *ngFor="let vm of vmList" class="mui-row table-row">
                <div class="table-data mui-col-md-5">
                  <a class="edit" mat-button (click)="activateModal(vm.id)">{{ vm.name }}</a>
                  <!-- if this virtue is enabled show this menu -->
                  <span class="active menu-options">
                    <a class="edit" mat-button (click)="activateModal(vm.id)">Edit</a> | <a href="#">Disable</a>
                  </span>
                  <!-- if this virtue is disabled show this menu -->
                  <span class="active menu-options">
                    <a class="edit" mat-button (click)="activateModal(vm.id)">Edit</a> | <a href="#">Remove</a>
                  </span>
                </div>
                <div class="table-data mui-col-md-2">{{ vm.os }}</div>
                <div class="table-data mui-col-md-5">
                  <ul>
                    <li *ngFor="let app of vm.applications">{{ app.name }}</li>
                  </ul>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="mui-container-fluid">
              <div class="mui-row paging">
                <div class="mui-col-md-4 page-number padding-left-0">&nbsp;</div>
                <div class="mui-col-md-4 page-controls">&nbsp;</div>
                <div class="mui-col-md-4 page-item-total padding-right-0"># Virtual Machine(s)</div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>

          <div class="split-pane-content-secondary">
            <div id="settings" class="virtue-settings">
              <div class="virtue-titlebar">
                <h3> Virtue Settings</h3>
              </div>
              <app-virtue-settings></app-virtue-settings>
            </div>
          </div>
        </vertical-split-pane>
        <div class="mui-row border-top">
          <div class="mui-col-md-4">&nbsp;</div>
          <div class="mui-col-md-4 form-item text-align-center">
            <span class="margin-right-10"><input name="create-another" type="checkbox" value="1" /> Create Another Virtue</span>
            <button (click)="createVirtue()" class="button-submit" type="submit">Create Virtue</button>
            <button class="button-cancel" type="cancel">Cancel</button>
          </div>
          <div class="mui-col-md-4"></div>
        </div>
      </div>

    </form>
  </div>
</div>
