<div id="content-container">
  <div id="content-header" class="titlebar">
    <h1 class="titlebar-title">Virtues</h1>
    <button mat-button class="titlebar-button" [routerLink]="['create-virtue']">Create New</button>
    <button mat-button class="titlebar-button" disabled>Import Virtue</button>
  </div>

  <div id="content-main">
    <div id="content">
      <!-- if there are virtues, show this list -->
      <div class="mui-container-fluid" *ngIf="virtues.length > 0">
        <div class="mui-row virtues-filters">
          <div class="virtues-filter mui-col-md-12 padding-left-0">
            <a *ngIf="sortValue !== '*'" (click)="sortVirtueColumns('enabled','*',sortBy)">All Virtues</a>
            <span *ngIf="sortValue === '*'">All Virtues</span> |
            <a *ngIf="sortValue !== true" (click)="sortVirtueColumns('enabled',true,sortBy)">Enabled Virtues</a>
            <span *ngIf="sortValue === true">Enabled Virtues</span> |
            <a *ngIf="sortValue !== false" (click)="sortVirtueColumns('enabled',false,sortBy)">Disabled Virtues</a>
            <span *ngIf="sortValue === false">Disabled Virtues</span>
          </div>
        </div>
      </div>
      <div class="mui-container-fluid data-list">
        <div class="mui-row table-header-group">
          <div class="table-header mui-col-md-2">
            <a class="sortName" (click)="sortVirtueColumns('name',sortValue,sortBy)">Virtue Name
              <span *ngIf="sortBy === 'asc'" class="fa fa-sort-up"></span>
              <span *ngIf="sortBy === 'desc'" class="fa fa-sort-down"></span>
            </a>
          </div>
          <div class="table-header mui-col-md-3">Virtual Machines</div>
          <div class="table-header mui-col-md-3">Apps</div>
          <div class="table-header mui-col-md-2">Created By</div>
          <div class="table-header mui-col-md-2">
            <a class="sortDate" (click)="sortVirtueColumns('date',sortValue,sortBy)">Date
              <span *ngIf="sortType=== 'date' && sortBy === 'asc'" class="fa fa-sort-up"></span>
              <span *ngIf="sortType=== 'date' && sortBy === 'desc'" class="fa fa-sort-down"></span>
            </a>
          </div>
        </div>
        <!-- if there are no virtues, show this message -->
        <div class="mui-row margin-top-10" *ngIf="virtues.length < 1">
          <div class="mui-col-md-12 padding-left-0">
            <p class="no-data-message">
              No virtues have been created at this time. To create a virtue, click on the button "Create New" above.
            </p>
          </div>
        </div>
        <div *ngFor="let virtue of virtues | listFilter : sortType : sortValue : sortBy" class="mui-row table-row" appActiveClass>
          <div class="table-data mui-col-md-2">
            <a class="edit" [routerLink]="['edit',virtue.id]">{{ virtue.name }}</a>

            <!-- if this virtue is enabled show this menu -->
            <span *ngIf="virtue.enabled" class="menu-options">
              <a mat-button (click)="virtueStatus(virtue.id, virtue.enabled)">Disable</a> |
               <a mat-button [routerLink]="['duplicate',virtue.id]">Duplicate</a>
            </span>

            <!-- if this virtue is disabled show this menu -->
            <span *ngIf="virtue.enabled==false" class="menu-options">
              <a mat-button (click)="virtueStatus(virtue.id)">Enable</a> |
              <a mat-button (click)="openDialog(virtue.id,'delete','virtue',virtue.name)">Delete</a>
            </span>
          </div>
          <div class="table-data mui-col-md-3"><!-- virtue.vmTemplates[0].os -->
            <ul>
              <li *ngFor="let vm of virtue.virtualMachineTemplateIds">{{ getVmName(vm) }}</li>
            </ul>
          </div>
          <div class="table-data mui-col-md-3">
            <ul>
              <li *ngFor="let app of virtue.applicationIds">{{ getAppName(app) }}</li>
            </ul>
          </div>
          <div class="table-data mui-col-md-2">{{virtue.lastEditor}}</div>
          <div class="table-data mui-col-md-2">
            {{virtue.enabled ? 'Enabled' : 'Disabled'}}<br />
            {{virtue.lastModification | date:'short' }}
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <!-- <div class="paging">
        <div class="page-number mui-col-md-4">Page # of #</div>
        <div class="page-controls mui-col-md-4"><< First | < Previous | Next > | Last >></div>
        <div class="page-item-total mui-col-md-4"># Virtues</div>
        <div class="clearfix"></div>
      </div> -->
    </div>
  </div>
</div>
