<div id="content-container">
  <div id="content-header" class="titlebar">
    <h1 class="titlebar-title">Virtues</h1>
    <button mat-button class="titlebar-button" [routerLink]="['create-virtue']">Create New</button>
    <button mat-button class="titlebar-button" disabled>Import Virtue</button>
  </div>

  <div id="content-main">
    <div id="content">
      <!-- if there are virtues, show this list -->
      <div class="mui-container-fluid" *ngIf="virtues.length > 0">
        <div class="mui-row virtues-filters">
          <div class="virtues-filter mui-col-md-12 padding-left-0">
            All Virtues | <a href="#">Enabled Virtues</a> | <a href="#">Disabled Virtues</a>
          </div>
        </div>
      </div>
      <div class="mui-container-fluid data-list">
        <div class="mui-row table-header-group">
          <div class="table-header mui-col-md-2">Virtue Name</div>
          <div class="table-header mui-col-md-3">Virtual Machines</div>
          <div class="table-header mui-col-md-3">Apps</div>
          <div class="table-header mui-col-md-2">Created By</div>
          <div class="table-header mui-col-md-2">Date</div>
        </div>
        <!-- if there are no virtues, show this message -->
        <div class="mui-row margin-top-10" *ngIf="virtues.length < 1">
          <div class="mui-col-md-12 padding-left-0">
            <p class="no-data-message">
              No virtues have been created at this time. To create a virtue, click on the button "Create New" above.
            </p>
          </div>
        </div>
        <div *ngFor="let virtue of virtues" class="mui-row table-row" appActiveClass>
          <div class="table-data mui-col-md-2">
            <!--<a class="edit" [routerLink]="['edit',virtue.id]"></a> -->
            {{ virtue.name }}
            <!-- if this virtue is enabled show this menu -->
            <span *ngIf="virtue.enabled" class="menu-options">
              <a mat-button (click)="virtueStatus(virtue.id)">Disable</a>
            </span>

            <!-- if this virtue is disabled show this menu -->
            <span *ngIf="virtue.enabled==false" class="menu-options"><a mat-button (click)="virtueStatus(virtue.id)">Enable</a> | <a mat-button (click)="openDialog('virtue.id','delete','virtue')">Delete</a></span>
          </div>
          <div class="table-data mui-col-md-3"><!-- virtue.vmTemplates[0].os -->
            <ul>
              <li *ngFor="let vm of virtue.virtualMachineTemplateIds">{{ getVmName(vm) }}</li>
            </ul>
          </div>
          <div class="table-data mui-col-md-3">
            <ul>
              <li *ngFor="let app of virtue.applicationIds">{{ getAppName(app) }}</li>
            </ul>
          </div>
          <div class="table-data mui-col-md-2">{{virtue.lastEditor}}</div>
          <div class="table-data mui-col-md-2">
            {{virtue.enabled ? 'Enabled' : 'Disabled'}}<br />
            {{virtue.lastModification | date:'short' }}
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <!-- <div class="paging">
        <div class="page-number mui-col-md-4">Page # of #</div>
        <div class="page-controls mui-col-md-4"><< First | < Previous | Next > | Last >></div>
        <div class="page-item-total mui-col-md-4"># Virtues</div>
        <div class="clearfix"></div>
      </div> -->
    </div>
  </div>
</div>
