
<div class="scaleToFit" [ngStyle]="{'width': tableWidth*100 + '%'}">
  <div *ngIf="filterOptions.length > 0" >
    <!-- only show this list if the table isn't empty -->
    <div *ngIf="elements.length > 0" class="mui-container-fluid">
      <div class="mui-row">
        <!-- Note: angular mui table always has 12 total column-widths of space. available -->
        <div class="mui-col-md-12 padding-left-0 filters">
          <ng-container *ngFor="let f of filterOptions; let idx = index">
            <span *ngIf="filterValue === f.value"> {{f.text}} {{pluralItem}} </span>
            <a *ngIf="filterValue !== f.value"  (click)="filterList(f.value)"> {{f.text}} {{pluralItem}} </a>
            <ng-container *ngIf="idx < filterOptions.length-1">|</ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <div class="mui-container-fluid data-list no-overflow table">
    <div class="mui-row table-header-group" fxLayout="row">

      <span *ngIf="selectionMode === 'multi'" fxFlex="8%" class="float-left mui-col-md-1 table-header" fxLayoutAlign="center center">
        <mat-checkbox
          name="selectAll"
          (change)="selectAll($event.checked)"></mat-checkbox>
      </span>

      <div class="table-header" fxFlex="auto">
        <div *ngFor="let column of colData" class="table-header full mui-col-md-{{column.width}}">

          <!-- if it's a checkbox column -->
          <ng-container *ngIf="isCheckbox(column)">
            <label>{{column.label}}
              <br>
              <mat-checkbox
              [disabled]="!editingEnabled()"
              [checked]="allCheckedInColumn(column)"
              (change)="checkAllInColumn(column, $event)"
              ></mat-checkbox>
            </label>
          </ng-container>

          <!-- If it's a sortable column -->
          <ng-container *ngIf="isSortable(column)">
            <a (click)="setColumnSortDirection(column)">{{column.label}}</a>
            <span class="list-sorter" (click)="setColumnSortDirection(column)">
              <font color="DarkGray"><span class="fa fa-sort"></span></font>
              <span *ngIf="sortColumn.label === column.label && sortingAscending()" class="fa fa-sort-up"></span>
              <span *ngIf="sortColumn.label === column.label && !sortingAscending()" class="fa fa-sort-down"></span>
            </span>
          </ng-container>

          <!-- Else -->
          <ng-container *ngIf="!isSortable(column) && !isCheckbox(column)" >
            <div>{{column.label}}</div>
          </ng-container>


        </div>
      </div>
    </div>

    <!-- if there are no elements, show this message -->
    <div *ngIf="elements.length < 1" class="mui-container-fluid">
      <div class="mui-row margin-top-10">
        <div class="mui-col-md-12 padding-left-0">
          <p class="no-data-message">
            {{noDataMessage}}
          </p>
        </div>
      </div>
    </div>

    <!-- That pipe character calls a PipeTransform object, ListFilterPipe.
    It is passed the preceeding list, followed by the values between colons -->
    <div *ngFor="let elem of elements | listFilterSort : sortColumn.sortField : sortDirection : filterColumnName : filterCondition : update;
     let index = index; trackBy: indexTracker"
      appActiveClass [ngStyle]="{'background-color': elementIsDisabled(elem.obj) ? '#e7e7e7' : '#ffffff' }" fxLayout="row" class="mui-row table-row" >

      <!-- If this table should display colored labels (i.e., if the table holds Virtues) -->
      <div *ngIf="hasColoredLabels === true" class="float-left" fxFlex="1%"
                [ngStyle]="{ 'background-color': getColor(elem.obj), 'left':'0px' }">
      </div>

      <!-- Note that this checkbox is for selection, and is not related to the checkboxes definable in Columns -->
      <span *ngIf="selectionMode === 'multi'" class="float-left mui-col-md-1 table-data transparent " fxFlex="8%">
        <mat-checkbox
          name="selectionCheckbox"
          [disabled]="elementIsDisabled(elem.obj) || !editingEnabled()"
          [(ngModel)]="elem.selected"></mat-checkbox>
      </span>

      <!-- Note that this checkbox is for selection, and is not related to the checkboxes definable in Columns -->
      <span *ngIf="selectionMode === 'single'" class="float-left mui-col-md-1 table-data transparent " fxFlex="8%">
        <mat-radio-group [(ngModel)]="selectedObj">
          <mat-radio-button [value]="elem.obj" [disabled]="elementIsDisabled(elem.obj) || !editingEnabled()">
          </mat-radio-button>
        </mat-radio-group>
      </span>

      <div fxFlex="auto">

        <!-- Iterate over all columns -->
        <div *ngFor="let column of colData; let index = index; trackBy: indexTracker"
            class="table-data mui-col-md-{{column.width}} transparent">

          <!-- If this column should display a single piece of text for each row-->
          <ng-container *ngIf="isText(column)">
            <!-- 'a's look like links, 'div's don't. -->
            <a class="edit" *ngIf="column.link !== undefined && !editingEnabled()" (click)="column.link(elem.obj)">
              {{ column.formatElement(elem.obj) }}
            </a>
            <div class="edit" *ngIf="column.link === undefined || editingEnabled()">
              {{ column.formatElement(elem.obj) }}
            </div>
          </ng-container>


          <!-- If this column displays a list in each row -->
          <ng-container *ngIf="isList(column)">
            <div *ngFor="let object of column.getList(elem.obj)">
              <ul>
                <ul>
                  <a *ngIf="column.link !== undefined && !editingEnabled()" (click)="column.link(object)">
                    {{ column.formatElements(object) }}
                  </a>
                  <div *ngIf="column.link === undefined || editingEnabled()">
                    {{ column.formatElements(object) }}
                  </div>
                </ul>
              </ul>
            </div>
          </ng-container>


          <ng-container *ngIf="isDropdown(column)">
            <mat-form-field floatLabel="never">
              <mat-select placeholder="{{column.fieldName}}" [disabled]="!editingEnabled()"
                       [(ngModel)]="elem.obj[column.fieldName]" required >
                <mat-option *ngFor="let p of column.dropdownList(); let idx = index" value="{{column.formatElement(p)}}" >
                  {{p}}
                </mat-option>
              </mat-select>

            </mat-form-field>
          </ng-container>

          <!-- if it's an input-field column -->
          <ng-container *ngIf="isInputField(column)">
            <mat-form-field floatLabel="never" >
              <input matInput type="text" placeholder="{{column.inputFieldName}}" [disabled]="!editingEnabled()"
                      [(ngModel)]="elem.obj[column.inputFieldName]" required/>
            </mat-form-field>
          </ng-container>

          <!-- if it's a checkbox column -->
          <ng-container *ngIf="isCheckbox(column)">
            <mat-checkbox
            [disabled]="!editingEnabled() || (column.disabled && column.disabled(elem.obj))"
            [(ngModel)]="elem.obj[column.toggleableFieldName]">
            </mat-checkbox>
          </ng-container>

          <ng-container *ngIf="isIcon(column)">
            <a *ngIf="editingEnabled()">
              <mat-icon svgIcon="{{column.iconName}}" (click)="column.link(elem.obj)" aria-label="column.label">{{mode}}</mat-icon>
            </a>
            <div *ngIf="!editingEnabled()">
              <mat-icon svgIcon="{{column.iconName}}" aria-label="column.label">{{mode}}</mat-icon>
            </div>
          </ng-container>

          <!-- if it's a radioButton column -->
          <ng-container *ngIf="isRadioButton(column)">
            <!-- This is almost magic. Each radio button is put in its own radio-group, but Angular notices that some buttons
                watch the same object, and groups them together. So all radio buttons in all columns that watch the {{column.fieldName}}
                field of this particular elem.obj, will be put into the same group. To add more radio button options, just add
                another radioButtonColumn with the same fieldName. -->

                <!-- To make the radio buttons be able to be grouped completely abitrarily, change RadioButtonColumn to work
                with the functions below, where getParentOfObjectToWatch(elem: TableElement) defaults to just returning elem.obj,
                but if desired, could also return this.something, if all objects in a single column should all watch the same attribute of the
                page that loaded the table.
                Like perhaps the columns represent roles that exactly one Virtue or something must fill, but a single virtue can fill many roles.
                So for each column, you'd need to be able to pick one Virtue for the table.-->
                <!-- <mat-radio-group [(ngModel)]="column.getParentOfObjectToWatch(elem)[column.getWatchedAttributeName()]"> -->

            <mat-radio-group [(ngModel)]="elem.obj[column.fieldName]">
              <mat-radio-button [value]="column.value" >
              </mat-radio-button>
            </mat-radio-group>
          </ng-container>

          <!-- If this column type allows for a list of SubMenuOptions. Currently only TextColumn. -->
          <div *ngIf="column.subMenuOpts !== undefined" class="menu-options" >
            <a *ngFor="let o of filterMenuOptions(column.subMenuOpts(), elem.obj); let idx = index" (click)="o.action(elem.obj)">
              <ng-container> {{o.text}} </ng-container>
              <ng-container *ngIf="idx < filterMenuOptions(column.subMenuOpts(), elem.obj).length - 1">|</ng-container>
            </a>
          </div>

          <div class="clearfix"></div>

        </div>
      </div>

      <!-- <span class="mui-row menu-options" fxFlex="100%"
        [ngStyle]="{ 'background-image': 'linear-gradient(rgba(100,100,100,0),rgba(100,100,100,255))' }">
      </span> -->
    </div>
  </div>

  <!-- TODO paging not implemented -->
  <div *ngIf="elements.length > 10" class="paging">
    <div class="page-number mui-col-md-4">Page # of #</div>
    <div class="page-controls mui-col-md-4">
      << First | < Previous | Next> | Last >></div>
    <div class="page-item-total mui-col-md-4">{{ elements.length }} {{prettyTitle}}</div>
    <div class="clearfix"></div>
  </div>
</div>
