
<div class="mui-col-md-{{tableWidth}}">
  <div *ngIf="filterOptions.length > 0" >
    <!-- if there are elements, show this list -->
    <div *ngIf="elements.length > 0" class="mui-container-fluid">
      <div class="mui-row">
        <!-- Note: angular mui table always has 12 total column-widths of space. available -->
        <div class="mui-col-md-12 padding-left-0 filters">
          <ng-container *ngFor="let f of filterOptions; let idx = index">
            <span *ngIf="filterValue === f.value"> {{f.text}} {{pluralItem}} </span>
            <a *ngIf="filterValue !== f.value"  (click)="filterList(f.value)"> {{f.text}} {{pluralItem}} </a>
            <ng-container *ngIf="idx < filterOptions.length-1">|</ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>


  <div class="mui-container-fluid data-list no-overflow">
    <div class="mui-row table-header-group" fxLayout="row">

      <span *ngIf="elementsAreSelectable" fxFlex="10%" class="table-header float-left" fxLayoutAlign="center center">
        <mat-checkbox
          name="selectAll"
          (change)="selectAll($event.checked)"></mat-checkbox>
      </span>
      <div class="table-header" fxFlex="auto">
        <div *ngFor="let column of colData" class="table-header full mui-col-md-{{column.width}}">

          <!-- if it's a text column, and therefore sortable -->
          <ng-container *ngIf="isText(column)" >
            <a (click)="setColumnSortDirection(column)">{{column.label}}</a>
            <span class="list-sorter" >
              <span *ngIf="sortColumn.label === column.label && sortBy === 'asc'" class="fa fa-sort-up"></span>
              <span *ngIf="sortColumn.label === column.label && sortBy === 'desc'" class="fa fa-sort-down"></span>
              <span class="fa fa-sort font-color-gray"></span>
            </span>
          </ng-container>

          <!-- if it's a checkbox column -->
          <ng-container *ngIf="isCheckbox(column) && selectionMode === 'multi'">
            <label>{{col.label}}
              <br>
              <mat-checkbox
              name="cb"
              [disabled]="mode === 'View'"
              [checked]="allChecked(col.name)"
              (change)="checkAll($event, col.name)"
              ></mat-checkbox>
            </label>
          </ng-container>

          <!-- Else -->
          <ng-container *ngIf="!isText(column) && !isCheckbox(column)" >
            <label>{{column.label}}</label>
          </ng-container>


        </div>
      </div>
    </div>

    <!-- if there are no elements, show this message -->
    <div *ngIf="elements.length < 1" class="mui-container-fluid">
      <div class="mui-row margin-top-10">
        <div class="mui-col-md-12 padding-left-0">
          <p class="no-data-message">
            {{noDataMessage}}
          </p>
        </div>
      </div>
    </div>

    <!-- That pipe character calls a PipeTransform object, ListFilterPipe.
    It is passed the preceeding list, followed by the values between colons -->
    <!-- can make it pass a conditional that's set to some default in the calling class when setting up a table -->
    <!-- May even be able to get rid of the filterValue? And just have the calling class change the condition? -->
    <div *ngFor="let elem of elements | listFilterSort : sortColumn.formatElement : sortDirection : filterColumnName : filterCondition : update;
     let index = index; trackBy: indexTracker"
      appActiveClass [ngStyle]="{'background-color': elem.obj.enabled === false ? '#e7e7e7' : '#ffffff' }" fxLayout="row" class="mui-row table-row" >

      <!-- If this table should display colored labels (elem.e., if the table holds Virtues) -->
      <div *ngIf="hasColoredLabels === true" class="float-left" fxFlex="1%"
                [ngStyle]="{ 'background-color': elem.color, 'left':'0px' }">
      </div>


      <!-- Note that this checkbox is for selection, and is not related to the checkboxes definable in Columns -->
      <span *ngIf="selectionMode === 'multi'" class="float-left mui-col-md-1 table-data transparent " fxFlex="8%">
        <mat-checkbox
          name="selectionCheckbox"
          [disabled]="!elem.obj.enabled"
          [checked]="elem.selected"></mat-checkbox>
      </span>

      <!-- Note that this checkbox is for selection, and is not related to the checkboxes definable in Columns -->
      <span *ngIf="selectionMode === 'single'" class="float-left mui-col-md-1 table-data transparent " fxFlex="8%">
        <mat-checkbox
        name="selectionRadio"
        [disabled]="!elem.obj.enabled"
        [checked]="elem.selected"
        (change)="radioSelectionChange($event.checked, elem)"></mat-checkbox>
      </span>

      <div fxFlex="auto">

        <!-- <span class="mini-menu table-data mui-col-md-{{colData[0].width}} transparent">
          <a class="edit" *ngIf="colData[0].link !== undefined" (click)="colData[0].link(elem.obj)">
            {{ colData[0].formatElement ? colData[0].formatElement(elem.obj) : i[colData[0].name] }}
          </a>
          <div class="edit" *ngIf="colData[0].link === undefined">
            {{ colData[0].formatElement ? colData[0].formatElement(elem.obj) : i[colData[0].name] }}
          </div>

          <div class="menu-options" >
            <a *ngFor="let o of subMenuOptions; let idx = index" (click)="o.action(elem.obj)">
              <ng-container *ngIf="o.shouldAppear(elem.obj)"> {{o.text}} </ng-container>
              <ng-container *ngIf="o.shouldAppear(elem.obj) && idx < subMenuOptions.length-1">|</ng-container>
            </a>
          </div>
        </span> -->

        <!-- Iterate over all columns -->
        <div *ngFor="let column of colData; let index = index; trackBy: indexTracker"
            class="table-data mui-col-md-{{column.width}} transparent">


          <!-- If this column should display a single piece of text for each row-->
          <ng-container *ngIf="isText(column)">
            <!-- 'a's look like links, 'div's don't. -->
            <a class="edit" *ngIf="column.link !== undefined" (click)="column.link(elem.obj)">
              {{ column.formatElement(elem.obj) }}
            </a>
            <div class="edit" *ngIf="column.link === undefined">
              {{ column.formatElement(elem.obj) }}
            </div>

            <div *ngIf="column.subMenuOpts !== undefined" class="menu-options" >
              <a *ngFor="let o of subMenuOptions; let idx = index" (click)="o.action(elem.obj)">
                <ng-container *ngIf="o.shouldAppear(elem.obj)"> {{o.text}} </ng-container>
                <ng-container *ngIf="o.shouldAppear(elem.obj) && idx < subMenuOptions.length-1">|</ng-container>
              </a>
            </div>
          </ng-container>


          <!-- If this column displays a list in each row -->
          <ng-container *ngIf="isList(column)">
            <div *ngFor="let object of column.list(elem.obj)">
              <ul>
                <ul>
                  <a class="edit" *ngIf="column.link" (click)="column.link(object)">
                    {{ column.formatElement(object) }}
                  </a>
                  <div *ngIf="column.link === undefined">
                    {{ column.formatElement(object) }}
                  </div>
                </ul>
              </ul>
            </div>
          </ng-container>


          <ng-container *ngIf="isDropdown(column)">
            <mat-form-field floatLabel="never">
              <mat-select placeholder="{{column.fieldName}}"
                       [(ngModel)]="networkPermission[column.fieldName]" required >
                <mat-option *ngFor="let p of column.dropdownList" value="{{column.formatElement(p)}}" >
                  {{p}}
                </mat-option>
              </mat-select>

            </mat-form-field>
          </ng-container>


          <ng-container *ngIf="isInputField(column)">
            <mat-form-field floatLabel="never">
              <input matInput type="text" placeholder="{{column.name}}"
                      [(ngModel)]="networkPermission[column.name]" required/>
            </mat-form-field>
          </ng-container>


          <ng-container *ngIf="isIcon(column)">
            <div>
            </div>
          </ng-container>


          <ng-container *ngIf="isRadioButton(column)">
            <mat-radio-button>
            </mat-radio-button>
          </ng-container>

        </div>

        <div class="clearfix"></div>
      </div>
    </div>
  </div>

  <!-- TODO paging not implemented -->
  <div *ngIf="elements.length > 10" class="paging">
    <div class="page-number mui-col-md-4">Page # of #</div>
    <div class="page-controls mui-col-md-4">
      << First | < Previous | Next> | Last >></div>
    <div class="page-item-total mui-col-md-4">{{ elements.length }} {{prettyTitle}}</div>
    <div class="clearfix"></div>
  </div>
</div>
