<div id="content-container">
  <div id="content-header">
      <h1 class="titlebar-title">{{actionName}} User Account: {{item.name}}</h1>
      <button (click)="toggleItemStatus()" class="titlebar-button">{{ item.enabled ? 'Disable User' : 'Enable User' }}</button>
  </div>
  <div id="content-main">
    <div id="content" class="content">
      <div class="mui-container-fluid">
        <div class="mui-row">
          <div class="mui-col-md-9">
            <div class="mui-row">
              <div class="mui-col-md-12 form-item">
                <mat-form-field *ngIf="mode !== 'Edit'">
                  <input type="text" [(ngModel)]="item.name" placeholder="Username" matInput>
                </mat-form-field>
              </div>
              <div class="mui-col-md-12 form-item">
                <div class="mui-col-md-6 table-data">
                  <label>Select Role(s)</label><br />
                  <mat-checkbox [(ngModel)]="roleUser" [checked]="roleUser"> User</mat-checkbox>
                  <br />
                  <mat-checkbox [(ngModel)]="roleAdmin" [checked]="roleAdmin"> Administrator</mat-checkbox>
                </div>
              </div>
            </div>
            <hr />
            <div class="mui-row">
              <div class="titlebar margin-top-20">
                <br />
                <h3 class="titlebar-title">Virtues</h3>
                <button class="titlebar-button" mat-button (click)="activateModal('add')">Add Virtue</button>
              </div>
            </div>

            <div class="mui-row">
              <div class="mui-container-fluid data-list">
                <div class="mui-row table-header-group">
                  <div class="table-header mui-col-md-4">
                    <div class="text-align-left margin-left-20 margin-right-0">
                      <span>Virtue Name</span>
                    </div>
                  </div>
                  <div class="table-header mui-col-md-8">
                    Applications
                  </div>
                </div>
                <div class="mui-row table-row" *ngIf="item.children.asList().length < 1">
                  <div class="table-data mui-col-md-12">
                    <p class="no-data-message">
                      No virtues have been added at this time. To add a virtue, click on the button "Add Virtue" above.
                    </p>
                  </div>
                </div>
                <div *ngIf="item.children.asList().length > 0">
                  <div class="mui-row table-row" *ngFor="let v of item.children.asList(); let i = index;" appActiveClass>
                    <div class="table-data mui-col-md-4">
                        <a class="edit" (click)="activateModal(1,'edit')">{{ v.name }}</a>
                        <!-- This should show if hovered over -->
                        <span class="menu-options"><a (click)="item.removeChild(v.id, i)">Remove</a></span>
                    </div>
                    <div class="table-data mui-col-md-8">
                      <ul [innerHTML]="getGrandchildrenHtmlList(v)">
                      </ul>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mui-row paging">
              <div class="page-number mui-col-md-4">Page # of #</div>
              <div class="page-controls mui-col-md-4"><< First | < Previous | Next > | Last >></div>
              <div class="page-item-total mui-col-md-4"># User Accounts</div>
              <div class="clearfix"></div>
            </div>

            <div class="mui-row">
              <hr />
              <div class="mui-col-md-4">&nbsp;</div>
              <div class="mui-col-md-4 form-item text-align-center">
                <button class="button-submit" (click)="createOrUpdate();" >Save</button>
                <button class="button-cancel" (click)="cancel()">Cancel</button>
                <!-- <button class="button-submit" type="submit" (click)="createOrUpdate();" >Save</button>
                <button class="button-cancel" type="cancel" (click)="cancel2()">Cancel</button> -->
              </div>
              <div class="mui-col-md-4"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="mui-col-md-3">&nbsp;</div>
    </div>
  </div>
</div>
