<div class="titlebar">
  <h2 class="title">Applications Manager</h2>
  <button class="float-right" value="import" disabled>Add New Application </button>
</div>
<form id="config-app-vms" method="post">
  <div id="vm-list" class="table-container padding-left-15">
    <div class="mui-row table-header-row">
      <div class="mui-col-md-4 table-header">
        <span><input type="checkbox" name="all" /></span>
        <span>Virtual Machine</span>
      </div>
      <div class="mui-col-md-2 table-header">Image Size</div>
      <div class="mui-col-md-6 table-header">Applications</div>
    </div>
    <div class="mui-row border-bottom">
      <div class="mui-col-md-4 table-data">
        <span><input type="checkbox" name="all" /></span>
        <span>[ Virtual Machine Name ]</span>
      </div>
      <div class="mui-col-md-2 table-data">[ Image Size ] MB</div>
      <div class="mui-col-md-6 table-data">[ App 1 ], [ App 2 ], [ App 3 ], [ App N ]...</div>
    </div>
  </div>
  <div class="mui-row">
    <div class="mui-col-md-12"><button name="delete" value="delete" disabled>Delete Selected</button></div>
  </div>
  <div class="mui-row">
    <div class="mui-col-md-4">&nbsp;</div>
    <div class="mui-col-md-4 form-item text-align-center">
      <button class="button-submit" type="submit">Save</button>
    </div>
    <div class="mui-col-md-4"></div>
  </div>
  <div class="mui-row form-item">
    <div class="mui-col-md-12">
      <p>&nbsp;</p>
    </div>
  </div>
</form>
