/* Raleway font */
/* regular */
@font-face {
  font-family: 'Raleway';
  src: url("../fonts/raleway/raleway-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/raleway-regular.woff") format("woff"), url("../fonts/raleway/raleway-regular.ttf") format("truetype"), url("../fonts/raleway/raleway-regular.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
/* light */
@font-face {
  font-family: 'Raleway-light';
  src: url("../fonts/raleway/raleway-light.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/raleway-light.woff") format("woff"), url("../fonts/raleway/raleway-light.ttf") format("truetype"), url("../fonts/raleway/raleway-light.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
/* medium */
@font-face {
  font-family: 'Raleway-medium';
  src: url("../fonts/raleway/raleway-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/raleway-medium.woff") format("woff"), url("../fonts/raleway/raleway-medium.ttf") format("truetype"), url("../fonts/raleway/raleway-medium.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
/* semibold */
@font-face {
  font-family: 'Raleway-semibold';
  src: url("../fonts/raleway/raleway-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/raleway-semibold.woff") format("woff"), url("../fonts/raleway/raleway-semibold.ttf") format("truetype"), url("../fonts/raleway/raleway-semibold.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
/* bold */
@font-face {
  font-family: 'Raleway-bold';
  src: url("../fonts/raleway/raleway-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/raleway-bold.woff") format("woff"), url("../fonts/raleway/raleway-bold.ttf") format("truetype"), url("../fonts/raleway/raleway-bold.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
