/* line 1, ../scss/layout.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 5, ../scss/layout.scss */
a {
  color: #407097;
  font-weight: 500;
  text-decoration: none;
}

/* line 10, ../scss/layout.scss */
a:hover {
  text-decoration: underline;
}

/* line 13, ../scss/layout.scss */
h1 {
  font-size: 2.8rem;
  font-weight: bold;
}

/* line 17, ../scss/layout.scss */
h2 {
  font-size: 2.4rem;
  font-weight: bold;
}

/* line 21, ../scss/layout.scss */
#wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
}

/* Header Global CSS */
/* line 23, ../scss/layout.scss */
header {
  background: #2e294e;
  display: block;
  height: 34px;
  margin-bottom: 50px;
}

/* line 24, ../scss/layout.scss */
breadcrumb {
  display: block;
  font-size: 1.1rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}
/* line 29, ../scss/layout.scss */
breadcrumb ol {
  list-style-type: none;
  margin-left: 1.5rem;
  padding: 0;
}
/* line 34, ../scss/layout.scss */
breadcrumb li {
  display: inline-block;
}
/* line 36, ../scss/layout.scss */
breadcrumb li:before {
  content: '>';
}
/* line 41, ../scss/layout.scss */
breadcrumb li:first-child:before {
  content: '';
}

/* line 46, ../scss/layout.scss */
form {
  clear: both;
  display: block;
  margin-top: 1rem;
}

/* line 51, ../scss/layout.scss */
form:after {
  clear: both;
  content: ' ';
  display: block;
  height: 1px;
}

/* line 57, ../scss/layout.scss */
.form-item {
  clear: both;
  display: block;
  margin: 0;
  padding: 1.5rem 0;
  width: 100%;
}

/* line 64, ../scss/layout.scss */
input {
  box-sizing: border-box;
  height: 30px;
  padding-left: 0.5rem;
  width: inherit;
}

/* Content Global CSS */
/* line 71, ../scss/layout.scss */
content {
  display: block;
  margin: 4rem 1.6rem;
  position: relative;
}

/* line 72, ../scss/layout.scss */
#content-header {
  position: relative;
}

/* line 73, ../scss/layout.scss */
.border-top {
  border-top: 1px solid #B2B2B2;
}

/* line 76, ../scss/layout.scss */
.border-right {
  border-right: 1px solid #B2B2B2;
}

/* line 79, ../scss/layout.scss */
.border-bottom {
  border-bottom: 1px solid #B2B2B2;
}

/* line 82, ../scss/layout.scss */
.border-left {
  border-left: 1px solid #B2B2B2;
}

/* line 86, ../scss/layout.scss */
.clearfix {
  content: ' ';
  clear: both;
  display: block;
  height: 1px;
}

/* line 93, ../scss/layout.scss */
.padding-left-0 {
  margin-left: 0;
}

/* line 96, ../scss/layout.scss */
.margin-left-5 {
  margin-left: 5px;
}

/* line 99, ../scss/layout.scss */
.margin-left-10 {
  margin-left: 10px;
}

/* line 102, ../scss/layout.scss */
.margin-left-15 {
  margin-left: 15px;
}

/* line 105, ../scss/layout.scss */
.margin-left-20 {
  margin-left: 20px;
}

/* line 108, ../scss/layout.scss */
.margin-right-0 {
  margin-right: 0;
}

/* line 111, ../scss/layout.scss */
.margin-right-5 {
  margin-right: 5px;
}

/* line 114, ../scss/layout.scss */
.margin-right-10 {
  margin-right: 10px;
}

/* line 117, ../scss/layout.scss */
.margin-right-15 {
  margin-right: 15px;
}

/* line 120, ../scss/layout.scss */
.margin-right-20 {
  margin-right: 20px;
}

/* line 124, ../scss/layout.scss */
.padding-left-0 {
  padding-left: 0;
}

/* line 127, ../scss/layout.scss */
.padding-left-5 {
  padding-left: 5px;
}

/* line 130, ../scss/layout.scss */
.padding-left-10 {
  padding-left: 10px;
}

/* line 133, ../scss/layout.scss */
.padding-left-15 {
  padding-left: 15px;
}

/* line 136, ../scss/layout.scss */
.padding-left-20 {
  padding-left: 20px;
}

/* line 139, ../scss/layout.scss */
.padding-right-0 {
  padding-right: 0;
}

/* line 142, ../scss/layout.scss */
.padding-right-5 {
  padding-right: 5px;
}

/* line 145, ../scss/layout.scss */
.padding-right-10 {
  padding-right: 10px;
}

/* line 148, ../scss/layout.scss */
.padding-right-15 {
  padding-right: 15px;
}

/* line 151, ../scss/layout.scss */
.padding-right-20 {
  padding-right: 20px;
}

/* line 155, ../scss/layout.scss */
.paging {
  font-size: 1.2rem;
}

/* line 158, ../scss/layout.scss */
.paging .page-number {
  text-align: left;
}

/* line 161, ../scss/layout.scss */
.paging .page-controls {
  text-align: center;
}

/* line 164, ../scss/layout.scss */
.paging .page-item-total {
  text-align: right;
}

/* line 168, ../scss/layout.scss */
.table-container {
  display: table;
  margin: 1rem 0 1rem;
  padding: 0;
  width: 100%;
}

/* line 175, ../scss/layout.scss */
.table-header-row {
  background-color: #E9E3E6;
  display: table-row;
}

/* line 179, ../scss/layout.scss */
.table-header {
  display: inline-block;
  font-weight: 600;
  padding: 0.65rem;
}

/* line 184, ../scss/layout.scss */
.table-row {
  border-bottom: 1px solid #B2B2B2;
  display: block;
}

/* line 188, ../scss/layout.scss */
.table-cell {
  display: inline-block;
  font-weight: normal;
  padding: 0.65rem;
}

/* line 194, ../scss/layout.scss */
.text-align-left {
  text-align: left;
}

/* line 197, ../scss/layout.scss */
.text-align-right {
  text-align: right;
}

/* Footer Global Layout */
/* line 201, ../scss/layout.scss */
footer {
  background: #e9e3e6;
  display: block;
  height: 25px;
  margin-top: 50px;
  padding-top: 1.2rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* line 211, ../scss/layout.scss */
#footer-content {
  font-size: 1.1rem;
  padding-left: 1.1rem;
  padding-right: 1.1rem;
}
