.virtues-filter {
  padding: 0 0 0.75rem;
}

.virtue-options {
  cursor: pointer;
  display: block;
  font-family: 'Raleway-medium', Arial, sans-serif;
  font-size: 0.88rem;
  clear: both;
}
.virtues-message {
  display: block;
  border-top: 1px solid #b2b2b2;
  border-bottom: 1px solid #b2b2b2;
}
