<div class="titlebar">
  <h2>Sensors</h2>
</div>
<form id="config-sensors" method="post">
  <div id="file-system-list" class="table-container padding-left-15">
    <div class="mui-row table-header-row">
      <div class="mui-col-md-6 table-header"><span>Sensor Context</span></div>
      <div class="mui-col-md-1 table-header"><span>Off</span></div>
      <div class="mui-col-md-1 table-header"><span>Default</span></div>
      <div class="mui-col-md-1 table-header"><span>Low</span></div>
      <div class="mui-col-md-1 table-header"><span>High</span></div>
      <div class="mui-col-md-1 table-header"><span>Adverserial</span></div>
      <div class="mui-col-md-1 table-header"><span>&nbsp;</span></div>
    </div>

    <div class="mui-row table-row">
      <div class="mui-col-md-6 table-data"><span>In-resource (Unikernel)</span></div>
      <mat-radio-group>
        <div class="mui-col-md-1 table-data text-align-center"><span><mat-radio-button name="input-id" value="off" ></mat-radio-button></span></div>
        <div class="mui-col-md-1 table-data text-align-center"><span><mat-radio-button name="input-id" value="default" ></mat-radio-button></span></div>
        <div class="mui-col-md-1 table-data text-align-center"><span><mat-radio-button name="input-id" value="low" ></mat-radio-button></span></div>
        <div class="mui-col-md-1 table-data text-align-center"><span><mat-radio-button name="input-id" value="high" ></mat-radio-button></span></div>
        <div class="mui-col-md-1 table-data text-align-center"><span><mat-radio-button name="input-id" value="adversarial" ></mat-radio-button></span></div>
        <div class="mui-col-md-1"><span>&nbsp;</span></div>
      </mat-radio-group>
    </div>
    <div class="mui-row table-row">
      <div class="mui-col-md-6 table-data"><span>In-resource (Unikernel)</span></div>
      <mat-radio-group>
        <div class="mui-col-md-1 table-data text-align-center">
          <mat-radio-button name="input-id" value="off" ></mat-radio-button>
        </div>
        <div class="mui-col-md-1 table-data text-align-center"><span><mat-radio-button name="input-id" value="default" ></mat-radio-button></span></div>
        <div class="mui-col-md-1 table-data text-align-center"><span><mat-radio-button name="input-id" value="low" ></mat-radio-button></span></div>
        <div class="mui-col-md-1 table-data text-align-center"><span><mat-radio-button name="input-id" value="high" ></mat-radio-button></span></div>
        <div class="mui-col-md-1 table-data text-align-center"><span><mat-radio-button name="input-id" value="adversarial" ></mat-radio-button></span></div>
        <div class="mui-col-md-1"><span>&nbsp;</span></div>
      </mat-radio-group>
    </div>
    <div class="mui-row table-row">
      <div class="mui-col-md-6 table-data"><span>In-Virtue Controller</span></div>
      <mat-radio-group>
        <div class="mui-col-md-1 table-data text-align-center"><span><mat-radio-button name="input-id" value="off" ></mat-radio-button></span></div>
        <div class="mui-col-md-1 table-data text-align-center"><span><mat-radio-button name="input-id" value="default" ></mat-radio-button></span></div>
        <div class="mui-col-md-1 table-data text-align-center"><span><mat-radio-button name="input-id" value="low" ></mat-radio-button></span></div>
        <div class="mui-col-md-1 table-data text-align-center"><span><mat-radio-button name="input-id" value="high" ></mat-radio-button></span></div>
        <div class="mui-col-md-1 table-data text-align-center"><span><mat-radio-button name="input-id" value="adversarial" ></mat-radio-button></span></div>
        <div class="mui-col-md-1"><span>&nbsp;</span></div>
      </mat-radio-group>
    </div>
    <div class="mui-row table-row">
      <div class="mui-col-md-6 table-data"><span>Logging</span></div>
      <mat-radio-group>
        <div class="mui-col-md-1 table-data text-align-center"><span><mat-radio-button name="input-id" value="off" ></mat-radio-button></span></div>
        <div class="mui-col-md-1 table-data text-align-center"><span><mat-radio-button name="input-id" value="default" ></mat-radio-button></span></div>
        <div class="mui-col-md-1 table-data text-align-center"><span><mat-radio-button name="input-id" value="low" ></mat-radio-button></span></div>
        <div class="mui-col-md-1 table-data text-align-center"><span><mat-radio-button name="input-id" value="high" ></mat-radio-button></span></div>
        <div class="mui-col-md-1 table-data text-align-center"><span><mat-radio-button name="input-id" value="adversarial" ></mat-radio-button></span></div>
        <div class="mui-col-md-1"><span>&nbsp;</span></div>
      </mat-radio-group>
    </div>
    <div class="mui-row table-row">
      <div class="mui-col-md-6 table-data">
        <span class="fa fa-level-up fa-rotate-90 margin-right-10"></span>
        <span>Aggregator</span>
      </div>
      <mat-radio-group>
        <div class="mui-col-md-1 table-data text-align-center"><span><mat-radio-button name="input-id" value="off" ></mat-radio-button></span></div>
        <div class="mui-col-md-1 table-data text-align-center"><span><mat-radio-button name="input-id" value="default" ></mat-radio-button></span></div>
        <div class="mui-col-md-1 table-data text-align-center"><span><mat-radio-button name="input-id" value="low" ></mat-radio-button></span></div>
        <div class="mui-col-md-1 table-data text-align-center"><span><mat-radio-button name="input-id" value="high" ></mat-radio-button></span></div>
        <div class="mui-col-md-1 table-data text-align-center"><span><mat-radio-button name="input-id" value="adversarial" ></mat-radio-button></span></div>
        <div class="mui-col-md-1"><span>&nbsp;</span></div>
      </mat-radio-group>
    </div>
    <div class="mui-row table-row">
      <div class="mui-col-md-6 table-data">
        <span class="fa fa-level-up fa-rotate-90 margin-right-10"></span>
        <span>Archive</span>
      </div>
      <mat-radio-group>
        <div class="mui-col-md-1 table-data text-align-center"><span><mat-radio-button name="input-id" value="off" ></mat-radio-button></span></div>
        <div class="mui-col-md-1 table-data text-align-center"><span><mat-radio-button name="input-id" value="default" ></mat-radio-button></span></div>
        <div class="mui-col-md-1 table-data text-align-center"><span><mat-radio-button name="input-id" value="low" ></mat-radio-button></span></div>
        <div class="mui-col-md-1 table-data text-align-center"><span><mat-radio-button name="input-id" value="high" ></mat-radio-button></span></div>
        <div class="mui-col-md-1 table-data text-align-center"><span><mat-radio-button name="input-id" value="adversarial" ></mat-radio-button></span></div>
        <div class="mui-col-md-1"><span>&nbsp;</span></div>
      </mat-radio-group>
    </div>
    <div class="mui-row table-row">
      <div class="mui-col-md-6 table-data"><span>Certificates Infrastructure</span></div>
      <mat-radio-group>
        <div class="mui-col-md-1 table-data text-align-center"><span><mat-radio-button name="input-id" value="off" ></mat-radio-button></span></div>
        <div class="mui-col-md-1 table-data text-align-center"><span><mat-radio-button name="input-id" value="default" ></mat-radio-button></span></div>
        <div class="mui-col-md-1 table-data text-align-center"><span><mat-radio-button name="input-id" value="low" ></mat-radio-button></span></div>
        <div class="mui-col-md-1 table-data text-align-center"><span><mat-radio-button name="input-id" value="high" ></mat-radio-button></span></div>
        <div class="mui-col-md-1 table-data text-align-center"><span><mat-radio-button name="input-id" value="adversarial" ></mat-radio-button></span></div>
        <div class="mui-col-md-1"><span>&nbsp;</span></div>
      </mat-radio-group>
    </div>
  </div>
  <div class="mui-row">
    <div class="mui-col-md-4">&nbsp;</div>
    <div class="mui-col-md-4 form-item text-align-center">
      <button mat-button class="button-submit" type="submit">Save</button>
    </div>
    <div class="mui-col-md-4"></div>
  </div>

</form>
