<div class="mui-container-fluid">
  <div class="mui-row">
    <div class="mui-col-md-10">
      <div class="form-item">
        <br />
        <mat-form-field *ngIf="mode !== 'Edit' && mode !== 'View'">
          <input type="text" [(ngModel)]="item.name" placeholder="Username" matInput>
        </mat-form-field>
      <!-- <div class="mui-col-md-4 form-item margin-top-15"> -->
        <div class="form-item margin-top-15">
          <label>User Status:  &nbsp;&nbsp;&nbsp;&nbsp;</label>
          <mat-slide-toggle [(ngModel)]="item.enabled" [color]="'primary'">{{ item.enabled ? 'Enabled' : 'Disabled' }}</mat-slide-toggle>
        </div>
      <!-- </div> -->
        <div>
        <!-- <div class="mui-col-md-12 "> -->
          <div class="table-data">
            <label>Select Role(s)</label><br />
            <mat-checkbox [(ngModel)]="roleUser" [checked]="roleUser"> User</mat-checkbox>
            <br />
            <mat-checkbox [(ngModel)]="roleAdmin" [checked]="roleAdmin"> Administrator</mat-checkbox>
          </div>
        </div>
      </div>
      <hr />
      <div class="mui-row titlebar">
        <div class="mui-col-md-12">
          <br />
          <h3 class="titlebar-title">Virtue Templates</h3>
          <button class="titlebar-button" mat-button (click)="activateModal()">Add Template</button>
        </div>
      </div>

      <div class="mui-row">
        <app-item-table #childrenTable></app-item-table>
      </div>

    </div>
  </div>
</div>
