<div id="content-container">
  <div id="content-header" class="titlebar">
    <h1 class="title">Edit Virtue</h1>
    <button (click)="virtueStatus(virtueData.id)" class="titlebar-button">{{ virtueData.enabled ? 'Disable Virtue' : 'Enable Virtue' }}</button>
  </div>
  <div id="content-main">
    <form id="edit-virtue" method="post">
      <div id="content" class="border-top virtue-content">
        <vertical-split-pane
          primary-component-minsize="60"
          secondary-component-minsize="40"
          [primary-component-toggled-off]="false"
          [secondary-component-toggled-off]="someCondition"
          local-storage-key="split-pane"
          primary-component-initialratio="0.8">

          <div class="split-pane-content-primary">

            <div class="mui-row form-item margin-top-15">
              <div class="mui-col-md-12">
                <input type="text" [(value)]="virtueData.name" placeholder="Virtue Name" />
                <br />
                <span style="clear: both;color: #ccc; font-size:10px;margin-top:5px;">ID: {{ virtueId.id }}</span>
              </div>
            </div>
            <div class="mui-row titlebar">
              <div class="mui-col-md-12">
                <h2 class="title">Virtual Machines</h2>
                <button mat-button class="titlebar-button" (click)="activateModal(virtueData.id)">Add VM</button>
              </div>
            </div>
            <!-- if there are no virtue, show this message -->
            <div *ngIf="" class="mui-row margin-top-10">
              <div class="mui-col-md-12">
                <p class="no-data-message">
                  No virtual machines are attached this virtue. To add VM(s), click on the button "Add VM".
                </p>
              </div>
            </div>
            <!-- if there are virtual machines, show this list -->
            <div *ngIf="(virtueData.vmTemplates)" class="mui-container-fluid data-list">
              <div class="mui-row table-header-group">
                <div class="table-header mui-col-md-5">Application VM</div>
                <div class="table-header mui-col-md-2">OS</div>
                <div class="table-header mui-col-md-3">Applications</div>
                <div class="table-header mui-col-md-2">Enabled</div>
              </div>
              <div class="mui-row table-row" *ngFor="let vm of virtueData.vmTemplates">
                <div class="table-data mui-col-md-5">
                  <a mat-button (click)="activateModal(vm.id)">{{ vm.name }}</a>
                  <span [ngClass]="vm.enabled ? 'active menu-options' : 'menu-options'">
                    <a (click)="activateModal(vm.id)">Edit</a> | <a href="#">Disable</a>
                  </span>
                  <span [ngClass]="vm.enabled ? 'menu-options' : 'active menu-options'">
                    <a (click)="activateModal(vm.id)">Edit</a> | <a href="#">Remove</a>
                  </span>
                </div>
                <div class="table-data mui-col-md-2">{{ vm.os }} </div>
                <div class="table-data mui-col-md-3">
                  <ul class="padding-left-5">
                    <li *ngFor="let app of vm.applications">{{ app.name }}</li>
                  </ul>
                </div>
                <div class="table-data mui-col-md-2">{{ vm.enabled ? 'Enabled':'Disabled' }} </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="mui-container-fluid">
              <div class="mui-row paging">
                <div class="mui-col-md-4 page-number padding-left-0">&nbsp;</div>
                <div class="mui-col-md-4 page-controls">&nbsp;</div>
                <div class="mui-col-md-4 page-item-total padding-right-0"># Virtual Machine(s)</div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>

          <div class="split-pane-content-secondary">
            <div id="settings" class="virtue-settings">
              <div class="virtue-titlebar">
                <h3> Virtue Settings</h3>
              </div>
              <app-virtue-settings></app-virtue-settings>
            </div>
          </div>
        </vertical-split-pane>
        <div class="mui-row border-top">
          <div class="mui-col-md-4">&nbsp;</div>
          <div class="mui-col-md-4 form-item text-align-center">
            <button mat-button (click)="deleteVirtue()" disabled>Delete</button>
            <button class="button-submit" type="submit">Save</button>
            <button class="button-cancel" type="cancel">Cancel</button>
          </div>
          <div class="mui-col-md-4"></div>
        </div>
      </div>

    </form>
  </div>
</div>
