<div id="content-container">
  <div id="content-header" class="virtue-titlebar">
    <h1 class="virtue-title">Edit Virtue</h1>
    <button class="virtue-button" disabled>Disable Virtue</button>
  </div>

  <div id="content-main">
    <form id="edit-virtue" method="post">
      <div id="content" class="border-top virtue-content">
        <vertical-split-pane
          primary-component-minsize="60"
          secondary-component-minsize="40"
          [primary-component-toggled-off]="false"
          [secondary-component-toggled-off]="someCondition"
          local-storage-key="split-pane"
          primary-component-initialratio="0.8">

          <div class="split-pane-content-primary">

            <div class="mui-row form-item margin-top-15">
              <div class="mui-col-md-12 padding-left-0 padding-right-0">
                <input type="text" id="virtue-name" value="" placeholder="Virtue Name" />
              </div>
            </div>
            <div class="mui-row virtue-titlebar">
              <div class="mui-col-md-12">
                <h2 class="virtue-title">Virtual Machines</h2>
                <button mat-button class="virtue-button" (click)="activateModal('add')">Add VM</button>
              </div>
            </div>
            <!-- if there are no virtue, show this message -->
            <div class="mui-row margin-top-10">
              <div class="mui-col-md-12">
                <p class="border-top border-bottom">
                  No virtual machines are attached this virtue. To add VM(s), click on the button "Add VM".
                </p>
              </div>
            </div>
            <!-- if there are virtue machines, show this list -->
            <div class="mui-container-fluid data-list">
              <div class="mui-row table-header-group">
                <div class="table-header mui-col-md-5">Virtual Machine</div>
                <div class="table-header mui-col-md-2">Image Size</div>
                <div class="table-header mui-col-md-5">Applications</div>
              </div>
              <div class="mui-row table-row">
                <div class="table-data mui-col-md-5">
                  <a mat-button (click)="activateModal('edit')">[ Virtual Machine ]</a>
                  <span class="active virtue-options">
                    <a (click)="activateModal('edit')">Edit</a> | <a href="#">Disable</a>
                  </span>
                  <span class="active virtue-options">
                    <a (click)="activateModal('edit')">Edit</a> | <a href="#">Remove</a>
                  </span>
                </div>
                <div class="table-data mui-col-md-2"># mb</div>
                <div class="table-data mui-col-md-5">List of Apps</div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="mui-container-fluid">
              <div class="mui-row paging">
                <div class="mui-col-md-4 page-number padding-left-0">&nbsp;</div>
                <div class="mui-col-md-4 page-controls">&nbsp;</div>
                <div class="mui-col-md-4 page-item-total padding-right-0"># Virtual Machine(s)</div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>

          <div class="split-pane-content-secondary">
            <div id="settings" class="virtue-settings">
              <div class="virtue-titlebar">
                <h3> Virtue Settings</h3>
              </div>
              <app-virtue-settings></app-virtue-settings>
            </div>
          </div>
        </vertical-split-pane>
        <div class="mui-row border-top">
          <div class="mui-col-md-4">&nbsp;</div>
          <div class="mui-col-md-4 form-item text-align-center">
            <button mat-button (click)="deleteVirtue()" disabled>Delete</button>
            <button class="button-submit" type="submit">Save</button>
            <button class="button-cancel" type="cancel">Cancel</button>
          </div>
          <div class="mui-col-md-4"></div>
        </div>
      </div>

    </form>
  </div>
</div>
