
.virtue-form {
  margin-top: 1.5rem;
  padding: 1.5rem 0 1rem;
}
.virtue-form p {
  display: block;
  margin: 1rem 0;
}

.virtue-options {
  cursor: pointer;
  display: block;
  font-size: 0.88rem;
  clear: both;
}

vertical-split-pane {
  border-top: 1px solid #b2b2b2;
  border-right: 1px solid #b2b2b2;
  display: flex;
  flex-direction: column;
  align-content: stretch;
}
vertical-split-pane:after {
  clear: bloth;
  content: ' ';
  display: block;
  height: 0;
}
.v-outer {
  border-bottom: 1px solid #B2B2B2;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}
.split-pane-content-primary {
  max-height: 700px;
  min-height: 480px;
  overflow-y: scroll;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1.2rem;
}
.split-pane-content-secondary {
  background-color: rgba(233,227,230,0.5);
  height: 100%;
  min-height: 480px;
  overflow-y: scroll;
}
.icon-upload {
  display: block;
  min-width: 300px;
}
.virtue-list .mui-row {
  border-bottom: 1px solid #B2B2B2;
}
.virtue-settings {
  box-sizing: content-box;
}
.virtue-settings .virtue-titlebar {
  padding-left: 2rem;
}
