<div id="content-container">
  <div id="content-header" class="titlebar">
    <h1 class="titlebar-title">{{prettyTitle}}</h1>
    <button class="titlebar-button" routerLink="{{domain}}/create">Add {{itemName}}</button>
  </div>

  <div id="content-main">
    <div id="content">
      <div class="mui-container-fluid">
        <!-- if there are no virtues, show this message -->
        <div *ngIf="items.length < 1" class="mui-row margin-top-10">
          <div class="mui-col-md-12 padding-left-0">
            <p class="no-data-message">
              {{noDataMessage}}
            </p>
          </div>
        </div>
      </div>
      <!-- if there are users, show this list -->
      <div *ngIf="items.length > 0" class="mui-container-fluid">
        <div class="mui-row users-filters"> <!-- users-filters?  TODO -->
          <div class="mui-col-md-12 padding-left-0 filters">
            <span *ngIf="filterValue === '*'">{{itemName}}</span>
            <a *ngIf="filterValue !== '*'"  (click)="filterList('*')">All {{itemName}}</a> |
            <span *ngIf="filterValue === 'enabled'">Enabled {{itemName}}</span>
            <a *ngIf="filterValue !== 'enabled'" (click)="filterList('enabled')">Enabled {{itemName}}</a> |
            <span *ngIf="filterValue === 'disabled'">Disabled {{itemName}}</span>
            <a *ngIf="filterValue !== 'disabled'" (click)="filterList('disabled')">Disabled {{itemName}}</a>
            <!-- <span *ngIf="filterValue === '*'">{{showAllMessage}}</span>
            <a *ngIf="filterValue !== '*'"  (click)="filterList('*')">All User Accounts</a> |
            <span *ngIf="filterValue === 'enabled'">Enabled Accounts</span>
            <a *ngIf="filterValue !== 'enabled'" (click)="filterList('enabled')">Enabled Accounts</a> |
            <span *ngIf="filterValue === 'disabled'">Disabled Accounts</span>
            <a *ngIf="filterValue !== 'disabled'" (click)="filterList('disabled')">Disabled Accounts</a> -->
          </div>
        </div>
      </div>

      <div class="mui-container-fluid data-list">
        <div class="mui-row table-header-group">
          <div *ngFor="let c of colData" class="table-header mui-col-md-{{c.colWidth}}">
            <div *ngIf="c.isList" >{{c.prettyName}}</div>
            <a *ngIf="!c.isList" (click)="setColumnSortDirection(c,sortBy)">{{c.prettyName}}</a>
            <span class="list-sorter" *ngIf="!c.isList" >
              <span *ngIf="sortColumn === c.name && sortBy === 'asc'" class="fa fa-sort-up"></span>
              <span *ngIf="sortColumn === c.name && sortBy === 'desc'" class="fa fa-sort-down"></span>
              <span class="fa fa-sort font-color-gray"></span>
            </span>
          </div>
        </div>

        <!-- That pipe character calls a PipeTransform object, ListFilterPipe.
        It is passed the preceeding list, followed by the values between colons -->
        <div class="mui-row table-row"
              *ngFor="let i of items | listFilter : sortColumn.name : 'status' : filterValue : sortDirection : (filterValue === '*')"
              [ngStyle]="{'background-color':i.enabled ? '#ffffff' : '#e7e7e7' }"
              appActiveClass>

          <div *ngFor="let c of colData; let idx=index"
              class="table-data mui-col-md-{{c.colWidth}} transparent">

            <div *ngIf="idx === 0" class="mini-menu">
              <a class="edit" routerLink="{{domain}}/edit/{{i[c.name]}}">{{ i[c.name] }}</a>
              <span class="menu-options">
                <a *ngIf="i.enabled === false" (click)="toggleItemStatus(i)">Enable</a>
                <a *ngIf="i.enabled === false"> | </a>
                <a *ngIf="i.enabled === true"  (click)="toggleItemStatus(i)">Disable</a>
                <a *ngIf="i.enabled === true"> | </a>
                <a class="edit" routerLink="{{domain}}/edit/{{i[c.name]}}">Edit</a>
                <a> | </a>
                <a class="edit" routerLink="{{domain}}/duplicate/{{i[c.name]}}">Duplicate</a>
                <a> | </a>
                <a (click)="openDialog(i[c.name], 'delete', 'delete', i[c.name])">Delete</a>
              </span>
            </div>
            <div *ngIf="c.isList && idx !== 0 ">
              <ul [innerHTML]="i.childrenListHTMLstring"></ul>
            </div>
            <div *ngIf="!c.isList && idx !== 0 ">
              {{ c.formatValue(i) }}
            </div>
          </div>

          <div class="clearfix"></div>
        </div>
      </div>
      <div class="paging">
        <div class="page-number mui-col-md-4">Page # of #</div>
        <div class="page-controls mui-col-md-4">
          << First | < Previous | Next> | Last >></div>
        <div class="page-item-total mui-col-md-4">{{ totalUsers }} User Accounts</div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
