<div id="content-container">
  <div id="content-header" class="titlebar">
    <h1 class="titlebar-title">Virtues</h1>
    <button mat-button class="titlebar-button" routerLink="/virtues/create">Create New</button>
    <button mat-button class="titlebar-button" disabled>Import Virtue</button>
  </div>

  <div id="content-main">
    <div id="content">
      <!-- if there are virtues, show this list -->
      <div class="mui-container-fluid" *ngIf="virtues.length > 0">
        <div class="mui-row virtues-filters">
          <div class="virtues-filter mui-col-md-12 padding-left-0">
            <a *ngIf="sortValue !== '*'" (click)="enabledItemList('enabled', '*', sortType)">All Virtues</a>
            <span *ngIf="sortValue === '*'">All Virtues</span> |
            <a *ngIf="sortValue !== true" (click)="enabledItemList('enabled', true, sortType)">Enabled Virtues</a>
            <span *ngIf="sortValue === true">Enabled Virtues</span> |
            <a *ngIf="sortValue !== false" (click)="enabledItemList('enabled', false, sortType)">Disabled Virtues</a>
            <span *ngIf="sortValue === false">Disabled Virtues</span>
          </div>
        </div>
      </div>
      <div class="mui-container-fluid data-list">
        <div class="mui-row table-header-group">
          <div class="table-header mui-col-md-3">
            <a class="sortName" (click)="setColumnSortDirection('name',sortBy)">Virtue Name</a>
            <span class="list-sorter">
              <span *ngIf="sortColumn === 'name' && sortBy === 'asc'" class="fa fa-sort-up"></span>
              <span *ngIf="sortColumn === 'name' && sortBy === 'desc'" class="fa fa-sort-down"></span>
              <span class="fa fa-sort font-color-gray"></span>
            </span>
          </div>
          <div class="table-header mui-col-md-3">Virtual Machines</div>
          <div class="table-header mui-col-md-2">Apps</div>
            <div class="table-header mui-col-md-2">
              <a class="sortEdit" (click)="setColumnSortDirection('lastEditor',sortBy)">Last Edited By</a>
              <span class="list-sorter">
                <span *ngIf="sortColumn === 'lastEditor' && sortBy === 'asc'" class="fa fa-sort-up"></span>
                <span *ngIf="sortColumn === 'lastEditor' && sortBy === 'desc'" class="fa fa-sort-down"></span>
                <span class="fa fa-sort font-color-gray"></span>
              </span>
            </div>
          <div class="table-header mui-col-md-2">
            <a class="sortDate" (click)="setColumnSortDirection('date',sortBy)"> Modified Date</a>
            <span class="list-sorter">
              <span *ngIf="sortColumn === 'date' && sortBy === 'asc'" class="fa fa-sort-up"></span>
              <span *ngIf="sortColumn === 'date' && sortBy === 'desc'" class="fa fa-sort-down"></span>
              <span class="fa fa-sort font-color-gray"></span>
            </span>
          </div>
          <div class="table-header mui-col-md-1">
            <a class="sortStatus" (click)="setColumnSortDirection('enabled',sortBy)">Status</a>
            <span class="list-sorter">
              <span *ngIf="sortColumn === 'enabled' && sortBy === 'asc'" class="fa fa-sort-up"></span>
              <span *ngIf="sortColumn === 'enabled' && sortBy === 'desc'" class="fa fa-sort-down"></span>
              <span class="fa fa-sort font-color-gray"></span>
            </span>
          </div>
        </div>
        <!-- if there are no virtues, show this message -->
        <div class="mui-row margin-top-10" *ngIf="virtues.length < 1">
          <div class="mui-col-md-12 padding-left-0">
            <p class="no-data-message">
              No virtues have been created at this time. To create a virtue, click on the button "Create New" above.
            </p>
          </div>
        </div>
        <div *ngFor="let virtue of virtues | listFilter : sortColumn : sortType : sortValue : sortBy"
              [ngStyle]="{'background-color':virtue.enabled ? '#ffffff' : '#eeeeee' }"
              class="mui-row table-row" appActiveClass>
          <div class="table-data mui-col-md-2 virtue-transparent">
            <a class="edit" routerLink="/virtues/edit/{{virtue.id}}">{{ virtue.name }}</a>

            <!-- if this virtue is enabled show this menu -->
            <!-- <span *ngIf="virtue.enabled" class="menu-options">
              <a mat-button routerLink="/virtues/duplicate/{{virtue.id}}">Duplicate</a>
            </span> -->

            <!-- if this virtue is disabled show this menu -->
            <span class="menu-options">
              <a *ngIf="virtue.enabled" mat-button (click)="toggleVirtueStatus(virtue.id)">Disable | </a>
              <a *ngIf="!virtue.enabled" mat-button (click)="toggleVirtueStatus(virtue.id)">Enable | </a>
              <a class="edit" routerLink="/virtues/duplicate/{{virtue.id}}">Duplicate</a> |
              <a mat-button (click)="openDialog(virtue.id,'delete','virtue',virtue.name)">Delete</a>
            </span>
          </div>
          <div class="table-data mui-col-md-3 virtue-transparent"><!-- virtue.vmTemplates[0].os -->
            <ul>
              <li *ngFor="let vm of virtue.virtualMachineTemplateIds">{{ getVmName(vm) }}</li>
            </ul>
          </div>
          <div class="table-data mui-col-md-3 virtue-transparent">
            <ul>
              <li *ngFor="let app of virtue.applicationIds">{{ getAppName(app) }}</li>
            </ul>
          </div>
          <div class="table-data mui-col-md-1 virtue-transparent">{{virtue.lastEditor}}</div>
          <div class="table-data mui-col-md-2 virtue-transparent">{{virtue.lastModification | date:'short' }}</div>
          <div class="table-data mui-col-md-1 virtue-transparent">{{virtue.enabled ? 'Enabled' : 'Disabled'}}</div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="paging">
        <div class="page-number mui-col-md-4">Page # of #</div>
        <div class="page-controls mui-col-md-4"><span><< First | < Previous | Next > | Last >></span></div>
        <div class="page-item-total mui-col-md-4">{{ totalVirtues }} Virtues</div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
