button, button[type='submit'] {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  margin-right: 10px;
}
button {
  background-color: #E9E3E6;
  border:1px solid #B2B2B2;
  &.button {
    padding: 0.4rem 1rem;
  }
}
button[type='submit'] {
  background-color: #407097;
  color: #FFF;
}

.mat-dialog-container {
  background: #FFF;
  box-shadow: none;
}
.mat-dialog-container {
  app-dialogs {
    display: block;
    position: relative;
    padding: 1.2rem;
    text-align: center;
  }
  .mat-dialog-title {
    border-bottom: 1px solid #B2B2B2;
    display: block;
    margin: 0;
    padding-bottom: 1rem;
    text-align: left;
    text-transform: capitalize;
  }
  .mat-dialog-content {
    padding: 1rem 2rem;
    text-align: left;
  }
  .mat-dialog-actions {
    border-top: 1px solid #B2B2B2;
    display: block;
    padding-top: 1.5rem;
    text-align: center;
  }

}

mat-form-field {
  clear: both;
  line-height: 1.25;
  margin-bottom: 15px;
  width: 100%;

  span.mat-input-placeholder-wrapper.mat-form-field-placeholder-wrapper {
    padding-top: 0;
    box-sizing: border-box;
    top: 0;

    .mat-input-placeholder {
      top: 0;
      color: #B2B2B2;
      padding:5px;
    }
  }

  .mat-input-wrapper.mat-form-field-wrapper {
    padding-bottom: 0;
  }

  .mat-form-field-underline {
    display: none;
  }

  .mat-form-field-infix {
    padding: 0;
    border-top: none;
  }
}


input.mat-input-element {
  border: 1px solid #b2b2b2;
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
}

/* TEXTAREA */
textarea.mat-input-element {
  border: 1px solid #b2b2b2;
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
}

/*CHECKBOX */
mat-checkbox {
  margin-left: auto;
  margin-right: auto;
  .mat-checkbox-frame {
    border-color: #3E3F4E;
    border-width: thin;
  }

  &.mat-accent.mat-checkbox-checked {
    .mat-checkbox-frame {
      border-color: #3E3F4E;
      border-width: thin;
    }
    .mat-checkbox-background {
      background-color: #407097;
    }
  }

}

/* RADIO */
mat-radio-button.mat-radio-button {
  .mat-radio-outer-circle {
    border-color: #3E3F4E;
    border-width: thin;
  }
  &.mat-accent.mat-radio-checked {
    .mat-radio-outer-circle {
      border-color: #3E3F4E;
    }
    .mat-radio-inner-circle {
      background-color: #407097;
    }
  }
}

/* AUTOCOMPLETE */
.mat-autocomplete-panel {
  overflow: none;
  overflow-x: none;
  overflow-y: scroll;
  .mat-option {
    border-bottom: 1px solid #BFBFBF;
    clear:both;
    cursor: pointer;
    display: block;
    padding: 5px;
    width: 100%;
  }
}

/* SELECT */
mat-select {
  &.mat-select {
    border: 1px solid #b2b2b2;
    box-sizing: border-box;
    padding: 5px;
  }
  .mat-select-panel {
    background-color: #FFF;
    box-shadow: none;
    border: 1px solid #b2b2b2;

    .mat-option {
      border-bottom: thin solid #b2b2b2;
      display: block;
      width: 100%;
      &:hover {
        cursor: pointer;
      }
      .mat-option-text {
        padding-left: 15px;
      }
    }
  }
}
