.app-overlay-container {
  position: absolute;
  left: 0;
  top: 0;
}
.mat-dialog-container {
  background: $white;
  box-shadow: none;
}
.mat-dialog-container {
  app-dialogs {
    display: block;
    position: relative;
    padding: 1.2rem;
    text-align: center;
  }
  .mat-dialog-title {
    border-bottom: 1px solid $mediumGray;
    display: block;
    margin: 0;
    padding-bottom: 1rem;
    text-align: left;
    text-transform: capitalize;
  }
  .mat-dialog-content {
    padding: 1rem 2rem;
    text-align: left;
  }
  .mat-dialog-actions {
    border-top: 1px solid $mediumGray;
    display: block;
    padding-top: 1.5rem;
    text-align: center;
  }

  button, button[type='submit'] {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    margin-right: 10px;
  }
  button {
    background-color: $lightGray;
    border:1px solid $mediumGray;
    &.button {
      padding: 0.4rem 1rem;
    }
  }
  button[type='submit'] {
    background-color: $grayBlue;
    color: $white;
  }
}

.mat-form-field-infix {
  position: relative;
}
.mat-input-placeholder-wrapper {
  position: absolute;
  left: 0;
  top: 0;
}

.mat-input-wrapper {
  border: 1px solid #b2b2b2;
}

input.mat-input-element {
  padding: 5px;
}
.mat-checkbox {
  .mat-checkbox-label {
    margin-right: 20px;
  }

  .mat-checkbox-inner-container {
    margin-right: 0;
    width: 15px;
  }
  .mat-checkbox-input {
    margin-top:3px;
  }
  .mat-checkbox-frame {
    border-width: 0;
  }
}
.mat-select {
  .mat-select-trigger {
    padding: 5px;
  }
}
.mat-option {
  display: block;
  font-size: inherit;
  line-height: 1rem;
  outline: none;
  padding-left: 5px;
  width: inherit;
}
.mat-option .mat-option-text {
  display: block;
  line-height: 1.5rem;
  padding:10px;
  width: inherit;
}
.mat-option-ripple.mat-ripple {
  display: none;
}
.mat-select-content {
  margin: 0;
  max-width: 180px;
}
.mat-select .mat-select-arrow-wrapper {
  background-color: #eee;
  display: block;
}
.mat-select-panel.mat-primary {
  background-color: #fff;
  margin-top: 31px;
  box-sizing: border-box;
  min-width: 148px;
  max-width: 180px;
}
.cdk-overlay-container {
  height: 100%;
  left: 0;
  position: fixed;
  top:0;
  width: 100%;
  z-index: 1000;
}
.cdk-overlay-backdrop, .cdk-overlay-pane {
    position: absolute;
    pointer-events: auto;
    z-index: 1000;
}
.cdk-overlay-pane {
  margin-left: 16px;
  margin-top: 6px;
  max-width: 180px;
}
