@import "fonts.scss";
@import "variables.scss";
@import "mixins.scss";
html {
  font-size: 13px;
}
body {
  margin: 0;
  padding: 0;
  position: relative;
}
a {
  color: #407097;
  cursor: pointer;
  @include ralewayMedium;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1 {
  @include ralewayBold;
  font-size: 2.6rem;
}
h2 {
  @include ralewaySemibold;
  font-size: 2.2rem;
}
h3 {
  @include ralewaySemibold;
  font-size: 1.8rem;
}
h4 {
  @include ralewaySemibold;
  font-size: 1.4rem;
}
h5 {
  @include ralewayBold;
  font-size: 1.1rem;
}

p {
  padding: 10px 0;
}
hr {
  clear: both;
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0;
}


.app-icon-white {
  background-image: url(/assets/images/app-icon-white.png) no-repeat;
}
#wrapper {
  display: block;
  margin: 0;
  width: 100%;
  position: relative;
}
#content-container {
  position: relative;
}
/* Header Global CSS */
header {
  display: block;
  height: 32px;
  margin-bottom: 50px;
}
breadcrumb {
  display: block;
  font-size: 0.9rem;
  padding-top: 1.2rem;
  padding-left: 1.2rem;
  ol {
    list-style-type: none;
    padding: 0;
  }
  li {
   display: inline-block;
   margin-right: 6px;
     &:before {
       content: '>';
     }
   }
   li:first-child {
     &:before {
       content: '';
     }
   }
 }
form {
  clear: both;
  display: block;
}
form:after {
  clear: both;
  content: ' ';
  display: block;
  height: 1px;
}
.form-item {
  clear: both;
  display: block;
  margin: 0;
  padding: 0.5rem 0;
  width: 100%;
  span {
    padding: 0;
  }
}
label {
  font-family: 'Raleway600';
  margin: 0;
  padding: 0;
}
input, select {
  border: 1px solid #B2B2B2;
}
input[type="color"] {
	-webkit-appearance: none;
	border: 1px solid #B2B2B2;
	width: 32px;
	height: 20px;
  padding:2px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}
input[type='text'], input[type='password'] {
  box-sizing: border-box;
  height: 30px;
  padding-left: 0.5rem;
  width: 100%;
}
button, input[type='button'] {
  border: none;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  padding: 0.55rem 1rem 0.6rem;
}
button {
 &.button-submit {
   background-color: $grayBlue;
   border-radius: 0;
   color: $white;
   text-shadow: 1px 1px #3E3F4E;
 }
  &.button-delete, &.button-cancel {
    background-color: none;
    border: none;
    border-radius: 0;
    color: $grayBlue;
  }
  &.button-trash {
    height: 20px;
    margin: 0;
    padding: 0;
    width: 18px;
  }
  .fa {
    color: $grayBlue;
  }
}
select {
  background-color: $white;
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  -webkit-border-radius: 0;  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -moz-border-radius: 0;  /* Firefox 1-3.6 */
  border-radius: 0;
  border:1px solid #b2b2b2;
  height: 30px;
  padding: 5px 10px;
  width: 100%;
}
.select-container {
  height: 35px;
  position: relative;
  width: 100%;

  .fa {
    font-size: 1.4rem;
    font-weight: 700;
    position: absolute;
    z-index: 0;
    right: 6px;
    top: 7px;
  }
}

[disabled] {
  color: $mediumGray;
}
app-root {
  height: inherit;
}
/* Content Global CSS */
content {
  display: block;
  min-height: 560px;
  margin: 4rem 0 1rem;
  position: relative;
  &:after {
    clear: both;
    content: ' ';
    display: block;
  }
  #content-header {
    padding: 0 1.1rem 1rem 1.1rem;
    position: relative;
  }
  #content-main {
    padding: 0 1.1rem;
  }
  #content {
    display: block;
    &.content {
      border-top: 1px solid #b2b2b2;
      padding-top: 1.1rem;
    }
  }
}

.paging {
  @include raleway;
  font-size: 0.88rem;
  margin-top: 0.75rem;

  .page-number {
    text-align: left;
  }
  .page-controls {
    text-align: center;
  }
  .page-item-total {
    text-align: right;
  }
}


.table-container, .data-list {
  @include ralewayMedium;
  margin-top: 10px;
  margin-bottom: 10px;
  max-height: 1024px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.table-container {
  border: 1px solid #B2B2B2;
}

.data-list {
  border-top: 1px solid #B2B2B2;
  border-bottom: 1px solid #B2B2B2;
  .table-header-group {
    border-right: 1px solid #B2B2B2;
    border-bottom: 1px solid #B2B2B2;
    border-left: 1px solid #B2B2B2;
  }
}
.table-header-row, .table-header-group {
  border-bottom: 1px solid #B2B2B2;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.table-row {
  border-bottom: 1px solid #B2B2B2;
  &:last-child {
    border-bottom: none;
  }
}
.table-header, .table-data {
  padding-top: 0.65rem;
  padding-bottom: 0.65rem;
}
.table-header {
  @include ralewaySemibold;
  background-color: #E9E3E6;
  display: flex;
  align-items: flex-end;
}
.table-header span {
  margin-left: 10px;
  margin-right: 10px;
}
.table-data {
  @include raleway;
  background-color: #FFF;
  display: table-cell;
  span {
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
  }
  .menu-options {
    clear: both;
    display: block;
    font-size: 0.88rem;
    font-weight: 600;
    margin: 0;
  }
}

.tab-pane-content {
  min-height: 506px;
  overflow-y: scroll;
  padding: 1.5rem;
}
.tab-pane-content:after {
  @include clearfix;
}

.titlebar {
  display: block;
  position: relative;

  h1, h2, h3, h4, h5 { margin-top: 0; }
  h2 { font-size: 28px; }
  h3 { font-size: 24px; }
  h4 { font-size: 20px; }
  h5 { font-size: 18px; }

  &:after {
    border-bottom: 1px solid $mediumGray;
    clear: both;
    content:' ';
    display: block;
    height: 1px;
  }

  .title {
    display: block;
    float: left;
  }

  button {
   background-color: #E9E3E6;
   border: 1px solid #B2B2B2;
   border-radius: 0;
   display: block;
   float: left;
   margin: 0.25rem 0 0 1.5rem;
   padding: 0.55rem 0.7rem 0.6rem;
 }
}
.no-data-message {
  display: block;
  border-top: 1px solid #b2b2b2;
  border-bottom: 1px solid #b2b2b2;
}
vertical-split-pane {
  border-bottom: 1px solid #B2B2B2;
  display: block;
  height: 100%;
}

/* Footer Global Layout */
app-footer {
  margin-top: 50px;
  width: 100%;
  &:after {
    @include clearfix;
  }
}
footer {
  background: rgb(233,227,230);
  border-top: 1px solid #FAFAFA;
  display: block;
  height:46px;
  position:relative;
}
#footer-content {
  @include raleway;
  font-size: 0.88rem;
  bottom: 0;
  padding-bottom: 1.25rem;
  position:absolute;
  width: 100%;
  z-index: 100;
}
