header {
  margin-bottom: 20px;
}
mat-toolbar {
  clear: both;
  display: block;
  height: 35px;
  width: 100%;
}
mat-toolbar span.navbar-brand {
  color: rgb(255,255,255);
  display: inline-block;
  padding: 0.47rem 2.4rem 0.47rem 1.5rem;
}
mat-toolbar ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}
mat-toolbar li {
  display: inline-block;
  margin: 0;
}
mat-toolbar li.active {
  background-color: #540D6E
}
mat-toolbar li a {
  color: rgb(255,255,255);
  display: block;
  margin: 0;
  padding: 0.47rem 2.4rem 0.47rem;

}
