<header id="banner">
  <mat-toolbar color="primary">
    <span class="navbar-brand">Savior VirtUE</span>
    <ng-container *ngIf=authService.isAuthenticated()>
      <ul class="nav navbar-nav">
          <li *ngFor="let option of getNavOptions()" class="nav-item" routerLinkActive="active">

            <a *ngIf="option.link !== undefined" class="nav-link" routerLink="{{ option.link }}" title="{{ option.value }}">{{ option.value }}</a>
            <!-- <div *ngIf="option.dropdownOptions !== undefined">
              <ng2-dropdown>
                  <ng2-dropdown-button _ngcontent-c0="" class="ng2-dropdown-button customButton">
                    <div NgClass="{}">
                      <span _ngcontent-c2="" class="ng2-dropdown-button__label"> {{ option.value }} </span>
                    </div>
                  </ng2-dropdown-button>
                  <ng2-dropdown-menu  class="nav-item" >
                      <ng2-menu-item class="nav-item"  *ngFor="let page of option.dropdownOptions">
                          <a class="nav-link" routerLink="{{ page.link }}" title="{{ page.value }}">{{ page.value }}</a>
                      </ng2-menu-item>
                  </ng2-dropdown-menu>
              </ng2-dropdown>
            </div> -->

          </li>
      </ul>
      <ul class="nav navbar-nav" ng-style="{margin-left: auto; margin-right: 0;float: right;}">
        <li class="nav-item" routerLinkActive="active" ng-style="{margin-left: auto; margin-right: 0;float: right;}">
          <a class="nav-link" (click)=authService.logout() ng-style="{margin-left: auto; margin-right:0; float: right;}">Log out</a>
        </li>
    </ul>
    </ng-container>
  </mat-toolbar>
</header>
