mat-toolbar.mat-primary {
  background: rgb(46,41,78)
}
.mat-toolbar {
  clear: both;
  display: block;
  height: 34px;
  width: 100%;
  padding: 0;
}
.mat-toolbar-single-row {
  padding: 0 16px;
}
.mat-toolbar span.navbar-brand {
  color: rgb(255,255,255); /* title color */
  display: inline-block;
  padding: 0 2.4rem 0 1.5rem;
}
.mat-toolbar ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.mat-toolbar li {
  display: inline-block;
  font-size: 1.1rem;
  margin: 0;
}
.mat-toolbar li.active {
  background-color: #540D6E
}
.mat-toolbar li a {
  color: rgb(255,255,255); /* tab color */
  display: block;
  margin: 0;
  padding: 0 2.4rem;
}
.mat-toolbar span.navbar-brand {
  background: url(/assets/images/app-icon-white.png) no-repeat;
  background-size: 15%;
  background-position: center left;
  display: inline-block;
  font-size: 1.1rem;
  padding-left: 30px;
  width: auto;
}
