mat-toolbar.mat-primary {
  background: rgb(46,41,78)
}
.mat-toolbar {
  clear: both;
  display: block;
  height: 34px;
  width: 100%;
  padding: 0;
}
.mat-toolbar-single-row {
  padding: 0 16px;
}
.mat-toolbar span.navbar-brand {
  color: rgb(255,255,255); /* title color */
  display: inline-block;
  padding: 0 2.4rem 0 1.5rem;
}
.mat-toolbar ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.mat-toolbar li {
  display: inline-block;
  font-size: 1.1rem;
  margin: 0;
}
.mat-toolbar li.active {
  background-color: #540D6E
}
.mat-toolbar li a {
  color: rgb(255,255,255);
  display: block;
  margin: 0;
  padding: 0 2.4rem;
}

.mat-toolbar span.navbar-brand {
  background: url(/assets/images/app-icon-white.png) no-repeat;
  background-size: 15%;
  background-position: center left;
  display: inline-block;
  font-size: 1.1rem;
  padding-left: 30px;
  width: auto;
}

/* ng2-dropdown-button { */
  /* background-color: rgb(46,41,78); */
  /* color: rgb(0,0,255); */
  /* display: block; */
  /* margin: 0; */
  /* padding: 0 2.4rem; */
/* } */
.ng2-dropdown-button__caret[_ngcontent-c2] .ng-star-inserted[_ngcontent-c2]{
  color: 'white';
}

button.ng2-dropdown-button[_ngcontent-c2] {
  background: rgb(0,0,0, 0) !important;
  background-color: rgb(0,0,0, 0) !important;
  color: rgb(0,0,0, 0) !important;
  border-bottom: 1px solid rgb(0,0,0,0) !important;
  /* border: rgb(46,41,78); */
}

.customButton {
  background: rgb(0,0,0, 0) !important;
  background-color: rgb(0,0,0, 0) !important;
  color: rgb(0,0,0, 0) !important;
  border-bottom: 1px solid rgb(0,0,0,0) !important;
  /* border: rgb(46,41,78); */
}

.ng2-dropdown-button[_ngcontent-c2] {
  background: rgb(0,0,0, 0) !important;
  background-color: rgb(0,0,0, 0) !important;
  color: rgb(0,0,0, 0) !important;
  border-bottom: 1px solid rgb(0,0,0,0) !important;
  /* border: rgb(46,41,78); */
}
.nav-item .ng-star-inserted[_ngcontent-c0] {
  background-color: rgb(46,41,78,0) !important;
  /* border: rgb(46,41,78); */
}
.ng-star-inserted[_ngcontent-c0] {
  background-color: rgb(46,41,78,0) !important;
  /* border: rgb(46,41,78); */
}
.ng-dropdown[_ngcontent-c0] {
  background-color: rgb(46,41,78,0) !important;
  /* border: rgb(46,41,78); */
}
.ng-dropdown-container {
  background-color: rgb(46,41,78,0) !important;
  /* border: rgb(46,41,78); */
}
.ng2-dropdown-button[_ngcontent-c0][_nghost-c2] {
  background-color: rgb(46,41,78,0) !important;
  border-bottom: 1px solid rgb(46,41,78,0) !important;
  /* border: rgb(46,41,78); */
}
.ng2-dropdown-button[_ngcontent-c1] {
  background-color: rgb(46,41,78,0) !important;
  /* border: rgb(46,41,78); */
}

.ng2-dropdown-button__label[_ngcontent-c0] {
  color: green;
  background: rgb(0,0,0, 0) !important;
  background-color: rgb(0,0,0, 0) !important;
  border-bottom: 1px solid rgb(0,0,0,0) !important;
}
button {
  background-color: rgb(46,41,78) !important;
  /* border: rgb(46,41,78) */
}
.button {
  background-color: rgb(46,41,78) !important;
  /* border: rgb(46,41,78) */
}
