#vertical-tabs {
  background-color: #E9E3E6;
  border-left: 1px solid #b2b2b2;
  border-right: 1px solid #b2b2b2;
}
#vertical-tabs .mui-tabs__bar {
  background-color: #FAFAFA;
  margin: 1.5rem 1rem;
  padding: 0;
}
#vertical-tabs .mui-tabs__bar li {
  display: block;
  padding: 0;
}
#vertical-tabs .mui-tabs__bar li a {
  cursor: pointer;
}
#vertical-tabs .mui-tabs__bar li a:hover {
  background-color: rgba(233,227,230,0.40);
}
