<div id="content-container">
  <div id="content-header" class="mui-container-fluid titlebar">
    <h2 class="title">Edit User Account</h2>
  </div>
  <div id="content-main">
    <div id="content" class="content">
      <div class="mui-container-fluid">
        <div class="mui-row">
          <div class="mui-col-md-9">
            <div class="mui-row">
              <div class="mui-col-md-12 form-item">
                <input type="text"
                  ng-model="selected"
                  placeholder="Type the first or last name and select"
                  uib-typeahead=""
                  typeahead-loading=""
                  typeahead-popup-template-url=""
                  typeahead-no-results="noResults" class="form-control" />
                </div>
              </div>
              <div class="mui-row">
                <div class="titlebar margin-top-20">
                  <br />
                  <h3 class="title">Virtues</h3>
                  <button mat-button (click)="activateModal(0,'add')">Add Virtue</button>
                </div>
              </div>

              <!-- if there are no virtues, show this message -->
              <div class="mui-row">
                <div class="mui-col-md-12 padding-left-0">
                  <p class="virtue-message">
                    No virtues have been added at this time. To add a virtue, click on the button "Add Virtue" above.
                  </p>
                </div>
              </div>
              <div class="mui-row">
                <div class="table-container">
                  <div class="mui-row table-header-group">
                    <div class="table-header mui-col-md-4">
                      <div class="text-align-left margin-left-20 margin-right-0 padding-left-10">Virtue Name</div>
                    </div>
                    <div class="table-header mui-col-md-8">Applications</div>
                  </div>
                  <div class="mui-row table-row">
                    <div class="table-data mui-col-md-4">
                      <div class="virtue-color margin-right-10"></div>
                      <div class="virtue-name">
                        <a class="edit" (click)="activateModal(1,'edit')">[ Virtue Name ]</a>
                        <!-- This should show if hovered over -->
                        <span class="active virtue-options"><a href="#">Remove</a></span>
                      </div>
                    </div>
                    <div class="table-data mui-col-md-8">[App 1, App 2, App 3, Apps N...]</div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="paging">
                  <div class="page-number mui-col-md-4">Page # of #</div>
                  <div class="page-controls mui-col-md-4"><< First | < Previous | Next > | Last >></div>
                  <div class="page-item-total mui-col-md-4"># User Accounts</div>
                  <div class="clearfix"></div>
                </div>
              </div>
          </div>
        </div>

        <div class="mui-col-md-3">&nbsp;</div>
      </div>
  </div>
</div>
